.frame-2131330366,
.frame-2131330366 * {
  box-sizing: border-box;
}
.frame-2131330366 {
  overflow: hidden;
  height: 121rem;
  position: relative;
}
.frame-2131330366__group-1126 {
  position: absolute;
  inset: 0;
}
.frame-2131330366__group-842 {
  width: 192rem;
  height: 103.4rem;
  position: static;
}
.frame-2131330366__rectangle-119 {
  background: #000000;
  width: 103.4rem;
  height: 192rem;
  position: absolute;
  left: 0rem;
  top: 103.8rem;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.frame-2131330366__group-847 {
  width: 192rem;
  height: 75.6rem;
  position: static;
}
.frame-2131330366__rectangle-104 {
  background: #ffffff;
  width: 192rem;
  height: 9.9rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
}
.frame-2131330366__rectangle-107 {
  background: #0f0f0f;
  border-radius: 4.5rem;
  width: 108.6rem;
  height: 37.6rem;
  position: absolute;
  left: 10.9rem;
  top: 19.6rem;
}
.frame-2131330366__rectangle-108 {
  border-radius: 3.1rem;
  border-style: solid;
  border-color: #161616;
  border-width: 0.2rem;
  width: 58.8rem;
  height: 56rem;
  position: absolute;
  left: 122.2rem;
  top: 19.6rem;
}
.frame-2131330366__vector {
  border-radius: 0rem;
  width: 8.2rem;
  height: 3.5rem;
  position: absolute;
  left: 91.9rem;
  top: 3.2rem;
  overflow: visible;
}
.frame-2131330366__div {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.8814889907836914rem;
  letter-spacing: 0.01em;
  font-weight: 500;
  position: absolute;
  left: 8.9rem;
  top: 3.5rem;
}
.frame-2131330366__div2 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.8814889907836914rem;
  letter-spacing: 0.01em;
  font-weight: 500;
  position: absolute;
  left: 34.499rem;
  top: 3.5rem;
}
.frame-2131330366__div3 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.8814889907836914rem;
  letter-spacing: 0.01em;
  font-weight: 500;
  position: absolute;
  left: 48.319rem;
  top: 3.5rem;
}
.frame-2131330366__div4 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.8814889907836914rem;
  letter-spacing: 0.01em;
  font-weight: 500;
  position: absolute;
  left: 20.152rem;
  top: 3.5rem;
}
.frame-2131330366__ellipse-2 {
  background: #000000;
  border-radius: 50%;
  width: 0.453rem;
  height: 0.453rem;
  position: absolute;
  left: 39.262rem;
  top: 6.973999999999999rem;
}
.frame-2131330366__group-602 {
  width: 13.635rem;
  height: 3.8rem;
  position: static;
}
.frame-2131330366__group-541 {
  width: 13.635rem;
  height: 3.8rem;
  position: static;
}
.frame-2131330366___3 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.9164155960083007rem;
  line-height: 1.916rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 179.131rem;
  top: 3.8020000000000005rem;
}
.frame-2131330366__group-698 {
  width: 13.635rem;
  height: 3.8rem;
  position: static;
}
.frame-2131330366__rectangle-101 {
  border-radius: 16.918rem;
  border-style: solid;
  border-color: #000000;
  border-width: 0.149rem;
  width: 13.635rem;
  height: 3.8rem;
  position: absolute;
  left: 169.5rem;
  top: 2.9rem;
}
.frame-2131330366__bag {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.9164155960083007rem;
  line-height: 1.916rem;
  letter-spacing: 0.11em;
  font-weight: 500;
  position: absolute;
  left: 171.81rem;
  top: 3.8020000000000005rem;
}
.frame-2131330366__div5 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.9164155960083007rem;
  line-height: 1.916rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 177.38299999999998rem;
  top: 3.8020000000000005rem;
}
.frame-2131330366__div6 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.9164155960083007rem;
  line-height: 1.916rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 181.669rem;
  top: 3.8020000000000005rem;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.frame-2131330366__group-855 {
  width: 40.8rem;
  height: 16.6rem;
  position: static;
}
.frame-2131330366__rectangle-106 {
  background: #000000;
  border-radius: 25.7rem;
  width: 40.8rem;
  height: 6.3rem;
  position: absolute;
  left: 13.5rem;
  top: 35.9rem;
}
.frame-2131330366__div7 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.655999946594238rem;
  line-height: 1.643rem;
  font-weight: 500;
  position: absolute;
  left: 13.5rem;
  top: 25.6rem;
}
.frame-2131330366__group-1127 {
  position: absolute;
  inset: 0;
}
.frame-2131330366__group-606 {
  width: 192rem;
  height: 17.2rem;
  position: static;
}
.frame-2131330366__rectangle-103 {
  background: #ffffff;
  width: 17.2rem;
  height: 192rem;
  position: absolute;
  left: 0rem;
  top: 121rem;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.frame-2131330366__group-696 {
  width: 57.7rem;
  height: 9.3rem;
  position: static;
}
.frame-2131330366__group-697 {
  width: 57.7rem;
  height: 9.3rem;
  position: static;
}
.frame-2131330366__div8 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.560984230041504rem;
  letter-spacing: 0.01em;
  font-weight: 500;
  opacity: 0.44;
  position: absolute;
  left: 67.1rem;
  top: 113.6rem;
}
.frame-2131330366__div9 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.560984230041504rem;
  letter-spacing: 0.01em;
  font-weight: 500;
  opacity: 0.44;
  position: absolute;
  left: 77.17699999999999rem;
  top: 113.6rem;
}
.frame-2131330366__div10 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.560984230041504rem;
  letter-spacing: 0.01em;
  font-weight: 500;
  opacity: 0.44;
  position: absolute;
  left: 92.675rem;
  top: 113.6rem;
}
.frame-2131330366__div11 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.560984230041504rem;
  letter-spacing: 0.01em;
  font-weight: 500;
  opacity: 0.44;
  position: absolute;
  left: 111.2rem;
  top: 113.6rem;
}
.frame-2131330366__chained-project-2025 {
  color: #000000;
  text-align: left;
  font-family: "ArialNarrow-Regular", sans-serif;
  font-size: 2.453835296630859rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 84rem;
  top: 108.5rem;
}
.frame-2131330366__div12 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 1.9rem;
  line-height: 1.643rem;
  font-weight: 400;
  opacity: 0.6;
  position: absolute;
  left: 13.5rem;
  top: 32.3rem;
}
.frame-2131330366__rectangle-309 {
  background: #000000;
  border-radius: 25.7rem;
  width: 29.7rem;
  height: 6.3rem;
  position: absolute;
  left: 56.5rem;
  top: 35.9rem;
}
.frame-2131330366__div13 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 1.9rem;
  line-height: 1.643rem;
  font-weight: 400;
  opacity: 0.6;
  position: absolute;
  left: 56.5rem;
  top: 32.2rem;
}
.frame-2131330366__rectangle-310 {
  background: #000000;
  border-radius: 25.7rem;
  width: 28.9rem;
  height: 6.3rem;
  position: absolute;
  left: 88rem;
  top: 35.9rem;
}
.frame-2131330366__div14 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 1.9rem;
  line-height: 1.643rem;
  font-weight: 400;
  opacity: 0.6;
  position: absolute;
  left: 88rem;
  top: 32.2rem;
}
.frame-2131330366__div15 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 2.1rem;
  line-height: 1.643rem;
  font-weight: 400;
  opacity: 0.2;
  position: absolute;
  left: 16.8rem;
  top: 38.2rem;
}
.frame-2131330366__div16 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 2.1rem;
  line-height: 1.643rem;
  font-weight: 400;
  opacity: 0.2;
  position: absolute;
  left: 60rem;
  top: 38.2rem;
}
.frame-2131330366__rectangle-311 {
  background: #000000;
  border-radius: 25.7rem;
  width: 40.8rem;
  height: 6.3rem;
  position: absolute;
  left: 13.5rem;
  top: 48.7rem;
}
.frame-2131330366__e-mail {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 1.9rem;
  line-height: 1.643rem;
  font-weight: 400;
  opacity: 0.6;
  position: absolute;
  left: 13.5rem;
  top: 45.1rem;
}
.frame-2131330366__div17 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 2.1rem;
  line-height: 1.643rem;
  font-weight: 400;
  opacity: 0.2;
  position: absolute;
  left: 16.8rem;
  top: 51rem;
}
.frame-2131330366__rectangle-312 {
  background: #000000;
  border-radius: 25.7rem;
  width: 60.4rem;
  height: 6.3rem;
  position: absolute;
  left: 56.5rem;
  top: 48.7rem;
}
.frame-2131330366__rectangle-313 {
  background: #000000;
  border-radius: 25.7rem;
  border-style: solid;
  border-color: #0f0f0f;
  border-width: 0.2rem;
  width: 10.3rem;
  height: 6.3rem;
  position: absolute;
  left: 56.5rem;
  top: 48.7rem;
}
.frame-2131330366__div18 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 1.9rem;
  line-height: 1.643rem;
  font-weight: 400;
  opacity: 0.6;
  position: absolute;
  left: 56.5rem;
  top: 45.1rem;
}
.frame-2131330366___7 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.1rem;
  line-height: 1.643rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 59.7rem;
  top: 51rem;
}
.frame-2131330366___960-000-00-00 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 2.1rem;
  line-height: 1.643rem;
  font-weight: 400;
  position: absolute;
  left: 68.4rem;
  top: 51rem;
}
.frame-2131330366__div19 {
  width: 0.985rem;
  height: 0.591rem;
  position: absolute;
  left: 62.8rem;
  top: 51.6rem;
  overflow: visible;
}
.frame-2131330366__group-1128 {
  position: absolute;
  inset: 0;
}
.frame-2131330366__group-931 {
  width: 108.6rem;
  height: 15.8rem;
  position: static;
}
.frame-2131330366__rectangle-1072 {
  background: #0f0f0f;
  border-radius: 3.1rem;
  width: 108.6rem;
  height: 15.8rem;
  position: absolute;
  left: 10.9rem;
  top: 59.8rem;
}
.frame-2131330366__rectangle-238 {
  background: #000000;
  border-radius: 25.7rem;
  width: 40.8rem;
  height: 6.3rem;
  position: absolute;
  left: 13.5rem;
  top: 67.1rem;
}
.frame-2131330366__rectangle-239 {
  background: #000000;
  border-radius: 25.7rem;
  width: 60.4rem;
  height: 6.3rem;
  position: absolute;
  left: 56.5rem;
  top: 67.1rem;
}
.frame-2131330366__telegram {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 1.9rem;
  line-height: 1.643rem;
  font-weight: 400;
  opacity: 0.6;
  position: absolute;
  left: 13.5rem;
  top: 63.4rem;
}
.frame-2131330366__div20 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 1.9rem;
  line-height: 1.643rem;
  font-weight: 400;
  opacity: 0.6;
  position: absolute;
  left: 56.5rem;
  top: 63.4rem;
}
.frame-2131330366__div21 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 2.1rem;
  line-height: 1.643rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  opacity: 0.5;
  position: absolute;
  left: 16.8rem;
  top: 69.4rem;
}
.frame-2131330366__div22 {
  color: #161616;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.1rem;
  line-height: 1.643rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 60rem;
  top: 69.4rem;
  width: 15.1rem;
  height: 1.7rem;
}
.frame-2131330366__group-1129 {
  position: absolute;
  inset: 0;
}
.frame-2131330366__group-867 {
  width: 58.8rem;
  height: 7.8rem;
  position: static;
}
.frame-2131330366__rectangle-2392 {
  border-radius: 26.992rem;
  border-style: solid;
  border-color: #161616;
  border-width: 0.2rem;
  width: 58.8rem;
  height: 7.8rem;
  position: absolute;
  left: 122.2rem;
  top: 77.8rem;
}
.frame-2131330366__div23 {
  color: #161616;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.730754280090332rem;
  line-height: 1.7260000000000002rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 143.7rem;
  top: 80.7rem;
  width: 15.859rem;
  height: 1.7850000000000001rem;
}
.frame-2131330366__group-1130 {
  position: absolute;
  inset: 0;
}
.frame-2131330366__group-935 {
  width: 9.704rem;
  height: 9.704rem;
  position: static;
}
.frame-2131330366__rectangle-123 {
  background: #0f0f0f;
  border-radius: 0.42000000000000004rem;
  width: 9.704rem;
  height: 9.704rem;
  position: absolute;
  left: 126.9rem;
  top: 24.2rem;
}
.frame-2131330366__group-1007 {
  width: 37.5rem;
  height: 9rem;
  position: static;
}
.frame-2131330366__group-1005 {
  opacity: 0.43;
  width: 4.2rem;
  height: 1.8rem;
  position: static;
}
.frame-2131330366___1 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 1.7951356887817382rem;
  line-height: 1.795rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 139.3rem;
  top: 31.8rem;
}
.frame-2131330366__div24 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 1.7951356887817382rem;
  line-height: 1.795rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 140.8rem;
  top: 31.8rem;
}
.frame-2131330366__group-1006 {
  width: 37.5rem;
  height: 5.6rem;
  position: static;
}
.frame-2131330366__hoodie-chained-black {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 2.028268051147461rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 139.332rem;
  top: 24.6rem;
}
.frame-2131330366__l {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 2.028268051147461rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 139.3rem;
  top: 27.4rem;
}
.frame-2131330366___2600-rub {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 1.7951356887817382rem;
  line-height: 1.795rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 168.9rem;
  top: 25.2rem;
}
.frame-2131330366__group-1131 {
  position: absolute;
  inset: 0;
}
.frame-2131330366__rectangle-1232 {
  background: #0f0f0f;
  border-radius: 0.42000000000000004rem;
  width: 9.704rem;
  height: 9.704rem;
  position: absolute;
  left: 126.9rem;
  top: 36.9rem;
}
.frame-2131330366___12 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 1.7951356887817382rem;
  line-height: 1.795rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 139.3rem;
  top: 44.5rem;
}
.frame-2131330366__div25 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 1.7951356887817382rem;
  line-height: 1.795rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 140.8rem;
  top: 44.5rem;
}
.frame-2131330366__hoodie-chained-black2 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 2.028268051147461rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 139.332rem;
  top: 37.3rem;
}
.frame-2131330366__l2 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 2.028268051147461rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 139.3rem;
  top: 40.1rem;
}
.frame-2131330366___2600-rub2 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 1.7951356887817382rem;
  line-height: 1.795rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 168.9rem;
  top: 37.9rem;
}
.frame-2131330366__group-1132 {
  position: absolute;
  inset: 0;
}
.frame-2131330366__rectangle-1233 {
  background: #0f0f0f;
  border-radius: 0.42000000000000004rem;
  width: 9.704rem;
  height: 9.704rem;
  position: absolute;
  left: 126.9rem;
  top: 48.7rem;
}
.frame-2131330366___13 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 1.7951356887817382rem;
  line-height: 1.795rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 139.3rem;
  top: 56.3rem;
}
.frame-2131330366__div26 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 1.7951356887817382rem;
  line-height: 1.795rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 140.8rem;
  top: 56.3rem;
}
.frame-2131330366__hoodie-chained-black3 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 2.028268051147461rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 139.332rem;
  top: 49.1rem;
}
.frame-2131330366__l3 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 2.028268051147461rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 139.3rem;
  top: 51.9rem;
}
.frame-2131330366___2600-rub3 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 1.7951356887817382rem;
  line-height: 1.795rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 168.9rem;
  top: 49.7rem;
}
.frame-2131330366__vector-95 {
  width: 49.9rem;
  height: 0rem;
  position: absolute;
  left: 126.9rem;
  top: 64.5rem;
  transform: translate(0rem, -0.05rem);
  overflow: visible;
}
.frame-2131330366__div27 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.558911895751953rem;
  line-height: 2.559rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 126.9rem;
  top: 67.4rem;
}
.frame-2131330366___5200-rub {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.558911895751953rem;
  line-height: 2.559rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 165.6rem;
  top: 67.4rem;
}
.frame-2131330366__div28 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.8573638916015625rem;
  line-height: 1.149rem;
  font-weight: 500;
  position: absolute;
  left: 162.3rem;
  top: 61.3rem;
}
