.frame-2131330362,
.frame-2131330362 * {
  box-sizing: border-box;
}
.frame-2131330362 {
  overflow: hidden;
  height: 356rem;
  position: relative;
}
.frame-2131330362__rectangle-80 {
  width: 88.4rem;
  height: 192rem;
  position: absolute;
  left: 0.1rem;
  top: 88.4rem;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
  object-fit: cover;
}
.frame-2131330362__rectangle-99 {
  background: linear-gradient(
    97.49deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 88.4rem;
  height: 192rem;
  position: absolute;
  left: 0.1rem;
  top: 88.4rem;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.frame-2131330362__rectangle-81 {
  background: #000000;
  width: 95.4rem;
  height: 192rem;
  position: absolute;
  left: 0.1rem;
  top: 183.8rem;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.frame-2131330362__rectangle-102 {
  background: #000000;
  width: 154.9rem;
  height: 192rem;
  position: absolute;
  left: 0.1rem;
  top: 338.8rem;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.frame-2131330362__div {
  color: #ffffff;
  text-align: left;
  font-family: "ArialUnicodeMs-Regular", sans-serif;
  font-size: 3.1100000381469726rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 90.2rem;
  top: 94.3rem;
}
.frame-2131330362__group-777 {
  position: absolute;
  inset: 0;
}
.frame-2131330362__rectangle-73 {
  background: #161616;
  width: 41.8rem;
  height: 41.8rem;
  position: absolute;
  left: 6.6rem;
  top: 106.8rem;
}
.frame-2131330362__group-3 {
  width: 41.7rem;
  height: 8.1rem;
  position: static;
}
.frame-2131330362__hoodie-chained {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 3rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 6.6rem;
  top: 152.6rem;
}
.frame-2131330362___6500 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 3rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 34.7rem;
  top: 152.6rem;
}
.frame-2131330362___1-color {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 1.979710006713867rem;
  letter-spacing: -0.03em;
  font-weight: 600;
  position: absolute;
  left: 6.6rem;
  top: 158rem;
}
.frame-2131330362___5-sizes {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 1.979710006713867rem;
  letter-spacing: -0.03em;
  font-weight: 600;
  position: absolute;
  left: 14.916999999999998rem;
  top: 158rem;
}
.frame-2131330362__rub {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 3rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 42.6rem;
  top: 152.6rem;
}
.frame-2131330362__group-778 {
  position: absolute;
  inset: 0;
}
.frame-2131330362__rectangle-732 {
  background: #161616;
  width: 41.8rem;
  height: 41.8rem;
  position: absolute;
  left: 52.3rem;
  top: 106.8rem;
}
.frame-2131330362__hoodie-chained2 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 3rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 52.3rem;
  top: 152.6rem;
}
.frame-2131330362___65002 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 3rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 80.4rem;
  top: 152.6rem;
}
.frame-2131330362___1-color2 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 1.979710006713867rem;
  letter-spacing: -0.03em;
  font-weight: 600;
  position: absolute;
  left: 52.3rem;
  top: 158rem;
}
.frame-2131330362___5-sizes2 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 1.979710006713867rem;
  letter-spacing: -0.03em;
  font-weight: 600;
  position: absolute;
  left: 60.617rem;
  top: 158rem;
}
.frame-2131330362__rub2 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 3rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 88.3rem;
  top: 152.6rem;
}
.frame-2131330362__group-779 {
  position: absolute;
  inset: 0;
}
.frame-2131330362__rectangle-733 {
  background: #161616;
  width: 41.8rem;
  height: 41.8rem;
  position: absolute;
  left: 98rem;
  top: 106.8rem;
}
.frame-2131330362__hoodie-chained3 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 3rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 98rem;
  top: 152.6rem;
}
.frame-2131330362___65003 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 3rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 126.1rem;
  top: 152.6rem;
}
.frame-2131330362___1-color3 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 1.979710006713867rem;
  letter-spacing: -0.03em;
  font-weight: 600;
  position: absolute;
  left: 98rem;
  top: 158rem;
}
.frame-2131330362___5-sizes3 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 1.979710006713867rem;
  letter-spacing: -0.03em;
  font-weight: 600;
  position: absolute;
  left: 106.31700000000001rem;
  top: 158rem;
}
.frame-2131330362__rub3 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 3rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 134rem;
  top: 152.6rem;
}
.frame-2131330362__group-780 {
  position: absolute;
  inset: 0;
}
.frame-2131330362__rectangle-734 {
  background: #161616;
  width: 41.8rem;
  height: 41.8rem;
  position: absolute;
  left: 143.7rem;
  top: 106.8rem;
}
.frame-2131330362__hoodie-chained4 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 3rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 143.7rem;
  top: 152.6rem;
}
.frame-2131330362___65004 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 3rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 171.8rem;
  top: 152.6rem;
}
.frame-2131330362___1-color4 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 1.979710006713867rem;
  letter-spacing: -0.03em;
  font-weight: 600;
  position: absolute;
  left: 143.7rem;
  top: 158rem;
}
.frame-2131330362___5-sizes4 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 1.979710006713867rem;
  letter-spacing: -0.03em;
  font-weight: 600;
  position: absolute;
  left: 152.017rem;
  top: 158rem;
}
.frame-2131330362__rub4 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 3rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 179.7rem;
  top: 152.6rem;
}
.frame-2131330362__group-781 {
  position: absolute;
  inset: 0;
}
.frame-2131330362__rectangle-98 {
  background: #ffffff;
  border-radius: 24.236rem;
  width: 21.731rem;
  height: 7.19rem;
  position: absolute;
  left: 85.16900000000001rem;
  top: 76.01rem;
}
.frame-2131330362__first-drop-chained {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 6.543668365478515rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 65.7rem;
  top: 64.7rem;
}
.frame-2131330362__div2 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 2.5120479583740236rem;
  letter-spacing: -0.02em;
  font-weight: 600;
  position: absolute;
  left: 89.693rem;
  top: 77.868rem;
}
.frame-2131330362__group-21 {
  position: absolute;
  inset: 0;
}
.frame-2131330362__rectangle-112 {
  border-radius: 30rem;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.2rem;
  width: 34.4rem;
  height: 7.2rem;
  position: absolute;
  left: 78.9rem;
  top: 169.4rem;
}
.frame-2131330362__div3 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 2.51200008392334rem;
  letter-spacing: -0.02em;
  font-weight: 600;
  position: absolute;
  left: 83.3rem;
  top: 171.1rem;
}
.frame-2131330362__group-27 {
  position: absolute;
  inset: 0;
}
.frame-2131330362__rectangle-1122 {
  border-radius: 27.866000000000003rem;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.2rem;
  width: 30.275rem;
  height: 7.19rem;
  position: absolute;
  left: 96.5rem;
  top: 325rem;
}
.frame-2131330362__div4 {
  color: #ffffff;
  text-align: center;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 2.51200008392334rem;
  letter-spacing: -0.02em;
  font-weight: 600;
  position: absolute;
  left: 103.1rem;
  top: 326.8rem;
  width: 16.925rem;
  height: 4.1rem;
}
.frame-2131330362__div5 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 3.3313133239746096rem;
  letter-spacing: 0.01em;
  font-weight: 400;
  position: absolute;
  left: 6.5rem;
  top: 188rem;
}
.frame-2131330362__group-28 {
  position: absolute;
  inset: 0;
}
.frame-2131330362__div6 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 2.895213317871094rem;
  line-height: 3.1670000000000003rem;
  letter-spacing: 0.01em;
  font-weight: 400;
  position: absolute;
  left: 135.9rem;
  top: 199.935rem;
  width: 49.5rem;
}
.frame-2131330362__div7 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 2.895213317871094rem;
  line-height: 3.1670000000000003rem;
  letter-spacing: 0.01em;
  font-weight: 400;
  position: absolute;
  left: 159.09300000000002rem;
  top: 196.9rem;
}
.frame-2131330362__div8 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 2.966595458984375rem;
  line-height: 2.945rem;
  letter-spacing: 0.01em;
  font-weight: 400;
  position: absolute;
  left: 135.9rem;
  top: 217.455rem;
  width: 48.566rem;
}
.frame-2131330362__div9 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 2.8952831268310546rem;
  line-height: 3.1670000000000003rem;
  letter-spacing: 0.01em;
  font-weight: 400;
  position: absolute;
  left: 135.9rem;
  top: 214.256rem;
}
.frame-2131330362__rectangle-109 {
  background: #393939;
  width: 192rem;
  height: 0.199rem;
  position: absolute;
  left: 0.1rem;
  top: 183.8rem;
}
.frame-2131330362__rectangle-110 {
  border-style: solid;
  border-color: #393939;
  border-width: 0rem 0.2rem 0.2rem 0rem;
  width: 127rem;
  height: 47.3rem;
  position: absolute;
  left: 0rem;
  top: 183.9rem;
}
.frame-2131330362__rectangle-111 {
  border-style: solid;
  border-color: #393939;
  border-width: 0rem 0.2rem 0.2rem 0rem;
  width: 192rem;
  height: 47.3rem;
  position: absolute;
  left: 0.1rem;
  top: 183.9rem;
}
.frame-2131330362__vector-28 {
  width: 116.3rem;
  height: 39.6rem;
  position: absolute;
  left: 6.5rem;
  top: 188rem;
  overflow: visible;
}
.frame-2131330362__c-chained-project {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Light", sans-serif;
  font-size: 9.701414489746094rem;
  line-height: 10.883rem;
  letter-spacing: 0.01em;
  font-weight: 300;
  position: absolute;
  left: 6.6rem;
  top: 235.5rem;
  width: 179.2rem;
}
.frame-2131330362__rectangle-116 {
  width: 44.3rem;
  height: 53.8rem;
  position: absolute;
  left: 6.5rem;
  top: 278.4rem;
  object-fit: cover;
}
.frame-2131330362__rectangle-118 {
  width: 53.7rem;
  height: 68.2rem;
  position: absolute;
  left: 132rem;
  top: 264rem;
  object-fit: cover;
}
.frame-2131330362__rectangle-117 {
  width: 35.6rem;
  height: 35.6rem;
  position: absolute;
  left: 55.6rem;
  top: 296.6rem;
  object-fit: cover;
}
.frame-2131330362__div10 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 3.3313133239746096rem;
  letter-spacing: 0.01em;
  font-weight: 400;
  position: absolute;
  left: 135.9rem;
  top: 188.2rem;
}
.frame-2131330362__rectangle-222 {
  background: #ffffff;
  border-radius: 21.429rem;
  width: 5.929rem;
  height: 0.5rem;
  position: absolute;
  left: 93.1rem;
  top: 100.4rem;
}
.frame-2131330362__group-836 {
  position: absolute;
  inset: 0;
}
.frame-2131330362__rectangle-104 {
  background: #ffffff;
  width: 192rem;
  height: 9.9rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
}
.frame-2131330362__vector {
  border-radius: 0rem;
  width: 8.2rem;
  height: 3.5rem;
  position: absolute;
  left: 91.9rem;
  top: 3.2rem;
  overflow: visible;
}
.frame-2131330362__div11 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.8814889907836914rem;
  letter-spacing: 0.01em;
  font-weight: 500;
  position: absolute;
  left: 8.9rem;
  top: 3.5rem;
}
.frame-2131330362__div12 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.8814889907836914rem;
  letter-spacing: 0.01em;
  font-weight: 500;
  position: absolute;
  left: 34.4rem;
  top: 3.5rem;
}
.frame-2131330362__div13 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.8814889907836914rem;
  letter-spacing: 0.01em;
  font-weight: 500;
  position: absolute;
  left: 20.152rem;
  top: 3.5rem;
}
.frame-2131330362__ellipse-2 {
  background: #000000;
  border-radius: 50%;
  width: 0.453rem;
  height: 0.453rem;
  position: absolute;
  left: 38.5rem;
  top: 6.973999999999999rem;
}
.frame-2131330362__group-602 {
  width: 13.635rem;
  height: 3.8rem;
  position: static;
}
.frame-2131330362__group-541 {
  width: 13.635rem;
  height: 3.8rem;
  position: static;
}
.frame-2131330362___3 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.9164155960083007rem;
  line-height: 1.916rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 179.131rem;
  top: 3.8020000000000005rem;
}
.frame-2131330362__group-698 {
  width: 13.635rem;
  height: 3.8rem;
  position: static;
}
.frame-2131330362__rectangle-101 {
  border-radius: 16.918rem;
  border-style: solid;
  border-color: #000000;
  border-width: 0.149rem;
  width: 13.635rem;
  height: 3.8rem;
  position: absolute;
  left: 169.5rem;
  top: 2.9rem;
}
.frame-2131330362__bag {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.9164155960083007rem;
  line-height: 1.916rem;
  letter-spacing: 0.11em;
  font-weight: 500;
  position: absolute;
  left: 171.81rem;
  top: 3.8020000000000005rem;
}
.frame-2131330362__div14 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.9164155960083007rem;
  line-height: 1.916rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 177.38299999999998rem;
  top: 3.8020000000000005rem;
}
.frame-2131330362__div15 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.9164155960083007rem;
  line-height: 1.916rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 181.669rem;
  top: 3.8020000000000005rem;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.frame-2131330362__group-810 {
  position: absolute;
  inset: 0;
}
.frame-2131330362__group-606 {
  width: 192rem;
  height: 17.2rem;
  position: static;
}
.frame-2131330362__rectangle-103 {
  background: #ffffff;
  width: 17.2rem;
  height: 192rem;
  position: absolute;
  left: 0rem;
  top: 356rem;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.frame-2131330362__group-696 {
  width: 57.7rem;
  height: 9.3rem;
  position: static;
}
.frame-2131330362__group-697 {
  width: 57.7rem;
  height: 9.3rem;
  position: static;
}
.frame-2131330362__div16 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.560984230041504rem;
  letter-spacing: 0.01em;
  font-weight: 500;
  opacity: 0.44;
  position: absolute;
  left: 67.1rem;
  top: 348.6rem;
}
.frame-2131330362__div17 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.560984230041504rem;
  letter-spacing: 0.01em;
  font-weight: 500;
  opacity: 0.44;
  position: absolute;
  left: 77.17699999999999rem;
  top: 348.6rem;
}
.frame-2131330362__div18 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.560984230041504rem;
  letter-spacing: 0.01em;
  font-weight: 500;
  opacity: 0.44;
  position: absolute;
  left: 92.675rem;
  top: 348.6rem;
}
.frame-2131330362__div19 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.560984230041504rem;
  letter-spacing: 0.01em;
  font-weight: 500;
  opacity: 0.44;
  position: absolute;
  left: 111.2rem;
  top: 348.6rem;
}
.frame-2131330362__chained-project-2025 {
  color: #000000;
  text-align: left;
  font-family: "ArialNarrow-Regular", sans-serif;
  font-size: 2.453835296630859rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 84rem;
  top: 343.5rem;
}
