.frame-2131331160,
.frame-2131331160 * {
  box-sizing: border-box;
}
.frame-2131331160 {
  height: 232.7rem;
  position: relative;
}
.frame-2131331160__rectangle-375 {
  background: #ffffff;
  width: 88.6rem;
  height: 232.7rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
}
.frame-2131331160__rectangle-376 {
  background: #000000;
  width: 88.6rem;
  height: 208.9rem;
  position: absolute;
  left: 0rem;
  top: 23.8rem;
}
.frame-2131331160__rectangle-377 {
  background: #000000;
  width: 88.6rem;
  height: 0.2rem;
  position: absolute;
  left: 0rem;
  top: 23.8rem;
}
.frame-2131331160__chained-project-2025 {
  color: #ffffff;
  text-align: left;
  font-family: "ArialNarrow-Regular", sans-serif;
  font-size: 2.5085325241088867rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 32rem;
  top: 219.9rem;
}
.frame-2131331160__vector {
  width: 87.8rem;
  height: 18.063rem;
  position: absolute;
  left: 0rem;
  top: 28.9rem;
  overflow: visible;
}
.frame-2131331160__div {
  color: #ffffff;
  text-align: center;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 5.079455947875976rem;
  line-height: 5.079rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 24.092rem;
  top: 50.1rem;
  width: 39.57rem;
  height: 10.974rem;
}
.frame-2131331160__rectangle-380 {
  background: #ffffff;
  border-radius: 18.813rem;
  width: 7.086rem;
  height: 0.251rem;
  position: absolute;
  left: 40.333999999999996rem;
  top: 63.386rem;
}
.frame-2131331160__group-1198 {
  position: absolute;
  inset: 0;
}
.frame-2131331160__group-707 {
  width: 36.8rem;
  height: 33.3rem;
  position: static;
}
.frame-2131331160__rectangle-192 {
  background: #161616;
  border-radius: 2.1100000000000003rem;
  width: 36.8rem;
  height: 33.3rem;
  position: absolute;
  left: 6.9rem;
  top: 104.6rem;
}
.frame-2131331160__group-704 {
  width: 15.991999999999999rem;
  height: 29.172000000000004rem;
  position: static;
}
.frame-2131331160__group-571 {
  width: 15.991999999999999rem;
  height: 29.172000000000004rem;
  position: static;
}
.frame-2131331160__rectangle-105 {
  background: #000000;
  border-radius: 14.391rem;
  border-style: solid;
  border-color: #4f4f4f;
  border-width: 0.123rem;
  width: 15.991999999999999rem;
  height: 3.496rem;
  position: absolute;
  left: 8.8rem;
  top: 106.46900000000001rem;
}
.frame-2131331160__div2 {
  color: #ffffff;
  text-align: center;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.63013916015625rem;
  line-height: 1.6300000000000001rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 9.32rem;
  top: 107.31300000000002rem;
  width: 14.952000000000002rem;
  height: 1.748rem;
}
.frame-2131331160__telegram {
  color: #727272;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.63013916015625rem;
  line-height: 1.6300000000000001rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 8.8rem;
  top: 133.832rem;
  width: 9.101rem;
  height: 1.8079999999999998rem;
}
.frame-2131331160__vector2 {
  width: 8.619rem;
  height: 9.184999999999999rem;
  position: absolute;
  left: 21.565rem;
  top: 116.64500000000001rem;
  overflow: visible;
}
.frame-2131331160__group-1199 {
  position: absolute;
  inset: 0;
}
.frame-2131331160__group-709 {
  width: 76.8rem;
  height: 33.3rem;
  position: static;
}
.frame-2131331160__rectangle-1922 {
  border-radius: 2.1100000000000003rem;
  border-style: solid;
  border-color: #727272;
  border-width: 0.1rem;
  width: 76.8rem;
  height: 33.3rem;
  position: absolute;
  left: 6.9rem;
  top: 177.3rem;
}
.frame-2131331160__group-7042 {
  width: 15.984rem;
  height: 29.212rem;
  position: static;
}
.frame-2131331160__group-5712 {
  width: 15.984rem;
  height: 29.212rem;
  position: static;
}
.frame-2131331160__rectangle-1052 {
  background: #000000;
  border-radius: 14.391rem;
  border-style: solid;
  border-color: #727272;
  border-width: 0.123rem;
  width: 15.984rem;
  height: 3.5189999999999997rem;
  position: absolute;
  left: 9.1rem;
  top: 179.1rem;
}
.frame-2131331160__div3 {
  color: #727272;
  text-align: center;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.63013916015625rem;
  line-height: 1.6300000000000001rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 10.114rem;
  top: 179.995rem;
  width: 13.865rem;
  height: 1.748rem;
}
.frame-2131331160__div4 {
  color: #727272;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.63013916015625rem;
  line-height: 1.6300000000000001rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 9.1rem;
  top: 206.522rem;
  width: 15.566999999999998rem;
  height: 1.7890000000000001rem;
}
.frame-2131331160__vector3 {
  width: 8.529rem;
  height: 6.322rem;
  position: absolute;
  left: 41rem;
  top: 190.7rem;
  overflow: visible;
}
.frame-2131331160__group-1200 {
  position: absolute;
  inset: 0;
}
.frame-2131331160__rectangle-193 {
  background: #161616;
  border-radius: 2.088rem;
  width: 76.8rem;
  height: 32.9rem;
  position: absolute;
  left: 6.9rem;
  top: 141.1rem;
}
.frame-2131331160__group-705 {
  width: 14.013rem;
  height: 28.867rem;
  position: static;
}
.frame-2131331160__group-5713 {
  width: 14.013rem;
  height: 28.867rem;
  position: static;
}
.frame-2131331160__rectangle-1053 {
  background: #000000;
  border-radius: 14.238rem;
  border-style: solid;
  border-color: #4f4f4f;
  border-width: 0.121rem;
  width: 14.013rem;
  height: 3.4590000000000005rem;
  position: absolute;
  left: 8.8rem;
  top: 142.94400000000002rem;
}
.frame-2131331160__div5 {
  color: #ffffff;
  text-align: center;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.6128746032714845rem;
  line-height: 1.613rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 9.76rem;
  top: 143.779rem;
  width: 11.901rem;
  height: 1.73rem;
}
.frame-2131331160__instagram {
  color: #727272;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.6128746032714845rem;
  line-height: 1.613rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 8.8rem;
  top: 170.022rem;
  width: 11.837rem;
  height: 1.7890000000000001rem;
}
.frame-2131331160__meta {
  color: #727272;
  text-align: right;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.6128746032714845rem;
  line-height: 1.613rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 51.874rem;
  top: 168.41199999999998rem;
  width: 29.497000000000003rem;
}
.frame-2131331160__logo-1 {
  width: 14.825999999999999rem;
  height: 14.825999999999999rem;
  position: absolute;
  left: 36.9rem;
  top: 150.144rem;
  object-fit: cover;
  aspect-ratio: 1;
}
.frame-2131331160__group-1201 {
  position: absolute;
  inset: 0;
}
.frame-2131331160__group-706 {
  width: 76.8rem;
  height: 32.9rem;
  position: static;
}
.frame-2131331160__rectangle-1923 {
  background: #161616;
  border-radius: 2.088rem;
  width: 76.8rem;
  height: 32.9rem;
  position: absolute;
  left: 6.9rem;
  top: 68.5rem;
}
.frame-2131331160__group-7043 {
  width: 16.581rem;
  height: 28.867rem;
  position: static;
}
.frame-2131331160__group-5714 {
  width: 16.581rem;
  height: 28.867rem;
  position: static;
}
.frame-2131331160__rectangle-1054 {
  background: #000000;
  border-radius: 14.238rem;
  border-style: solid;
  border-color: #4f4f4f;
  border-width: 0.121rem;
  width: 16.581rem;
  height: 3.4590000000000005rem;
  position: absolute;
  left: 8.806999999999999rem;
  top: 70.34400000000001rem;
}
.frame-2131331160__div6 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.6128746032714845rem;
  line-height: 1.613rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 10.775rem;
  top: 71.179rem;
  width: 13.718rem;
  height: 1.73rem;
}
.frame-2131331160__telegram2 {
  color: #727272;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.6128746032714845rem;
  line-height: 1.613rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 8.806999999999999rem;
  top: 97.422rem;
  width: 8.35rem;
  height: 1.7890000000000001rem;
}
.frame-2131331160__vector4 {
  width: 11.44%;
  height: 3.59%;
  position: absolute;
  right: 43.18%;
  left: 45.37%;
  bottom: 61.7%;
  top: 34.72%;
  overflow: visible;
}
.frame-2131331160__clip-path-group {
  height: auto;
  position: absolute;
  left: 57.835rem;
  top: 114.25rem;
  overflow: visible;
}
.frame-2131331160__group-1202 {
  position: absolute;
  inset: 0;
}
.frame-2131331160__group-708 {
  width: 36.8rem;
  height: 33.3rem;
  position: static;
}
.frame-2131331160__rectangle-1924 {
  background: #161616;
  border-radius: 2.1100000000000003rem;
  width: 36.8rem;
  height: 33.3rem;
  position: absolute;
  left: 46.9rem;
  top: 104.6rem;
}
.frame-2131331160__group-7044 {
  width: 17.31rem;
  height: 29.194rem;
  position: static;
}
.frame-2131331160__group-5715 {
  width: 17.31rem;
  height: 29.194rem;
  position: static;
}
.frame-2131331160__rectangle-1055 {
  background: #000000;
  border-radius: 14.391rem;
  border-style: solid;
  border-color: #4f4f4f;
  border-width: 0.123rem;
  width: 17.297rem;
  height: 3.5189999999999997rem;
  position: absolute;
  left: 48.913rem;
  top: 106.446rem;
}
.frame-2131331160__div7 {
  color: #ffffff;
  text-align: center;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.63013916015625rem;
  line-height: 1.6300000000000001rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 49.868rem;
  top: 107.34100000000001rem;
  width: 15.269rem;
  height: 1.73rem;
}
.frame-2131331160__vk {
  color: #727272;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.63013916015625rem;
  line-height: 1.6300000000000001rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 48.9rem;
  top: 133.832rem;
  width: 8.439rem;
  height: 1.8079999999999998rem;
}
.frame-2131331160__ellipse-34 {
  background: #ffffff;
  border-radius: 50%;
  width: 10.139rem;
  height: 10.139rem;
  position: absolute;
  left: 60.2rem;
  top: 116.2rem;
}
.frame-2131331160__vector5 {
  width: 5.18%;
  height: 1.23%;
  position: absolute;
  right: 23.71%;
  left: 71.11%;
  bottom: 47.24%;
  top: 51.53%;
  overflow: visible;
}
.frame-2131331160__group-1203 {
  position: absolute;
  inset: 0;
}
.frame-2131331160__vector6 {
  width: 4.2rem;
  height: 3.1rem;
  position: absolute;
  left: 6.2rem;
  top: 17.4rem;
  overflow: visible;
}
.frame-2131331160__rectangle-102 {
  border-radius: 24.486rem;
  border-style: solid;
  border-color: #000000;
  border-width: 0.2rem;
  width: 16.8rem;
  height: 5.5rem;
  position: absolute;
  left: 65.5rem;
  top: 16rem;
}
.frame-2131331160__group-542 {
  width: 42.678rem;
  height: 3.2rem;
  position: static;
}
.frame-2131331160__bag {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.500930595397949rem;
  line-height: 2.5010000000000003rem;
  letter-spacing: 0.11em;
  font-weight: 500;
  position: absolute;
  left: 67.865rem;
  top: 17.5rem;
}
.frame-2131331160__return {
  color: #000000;
  text-align: left;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 3.119972801208496rem;
  line-height: 3.12rem;
  letter-spacing: 0.02em;
  font-weight: 600;
  text-decoration: underline;
  position: absolute;
  left: 38rem;
  top: 17.3rem;
}
.frame-2131331160___3 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.773759460449219rem;
  line-height: 2.774rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 76.765rem;
  top: 17.3rem;
}
.frame-2131331160__div8 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.773759460449219rem;
  line-height: 2.774rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 74.475rem;
  top: 17.306rem;
}
.frame-2131331160__div9 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.773759460449219rem;
  line-height: 2.774rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 80.678rem;
  top: 17.306rem;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
