<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'index/vars.css' %}">
  <link rel="stylesheet" href="{% static 'index/style.css' %}">
  
  
  <style>
  html {
    font-size: 0.52vw;
  }

   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'ui/ui.css' %}">
  <script defer src="{% static 'ui/ui.js' %}"></script>
</head>
<body class="ui-body" data-page="index">
  <div class="frame-2131330362">
    <img class="frame-2131330362__rectangle-80" src="{% static 'index/rectangle-800.png' %}" />
    <div class="frame-2131330362__rectangle-99"></div>
    <div class="frame-2131330362__rectangle-81"></div>
    <div class="frame-2131330362__rectangle-102"></div>
    <div class="frame-2131330362__div">Новинки</div>
    <div class="frame-2131330362__rectangle-73 ui-card ui-card--link" data-id="hoodie-chained-1" data-product="Hoodie Chained" data-price="6500" data-link="{% url 'product' 'hoodie-chained-1' %}"></div>
    <div class="frame-2131330362__group-3">
      <div class="frame-2131330362__hoodie-chained">Hoodie Chained</div>
      <div class="frame-2131330362___6500">6500</div>
      <div class="frame-2131330362___1-color">1 Color</div>
      <div class="frame-2131330362___5-sizes">5 Sizes</div>
      <div class="frame-2131330362__rub">RUB</div>
    </div>
    <div class="frame-2131330362__rectangle-732 ui-card ui-card--link" data-id="hoodie-chained-2" data-product="Hoodie Chained" data-price="6500" data-link="{% url 'product' 'hoodie-chained-2' %}"></div>
    <div class="frame-2131330362__group-3">
      <div class="frame-2131330362__hoodie-chained2">Hoodie Chained</div>
      <div class="frame-2131330362___65002">6500</div>
      <div class="frame-2131330362___1-color2">1 Color</div>
      <div class="frame-2131330362___5-sizes2">5 Sizes</div>
      <div class="frame-2131330362__rub2">RUB</div>
    </div>
    <div class="frame-2131330362__rectangle-733 ui-card ui-card--link" data-id="hoodie-chained-3" data-product="Hoodie Chained" data-price="6500" data-link="{% url 'product' 'hoodie-chained-3' %}"></div>
    <div class="frame-2131330362__group-3">
      <div class="frame-2131330362__hoodie-chained3">Hoodie Chained</div>
      <div class="frame-2131330362___65003">6500</div>
      <div class="frame-2131330362___1-color3">1 Color</div>
      <div class="frame-2131330362___5-sizes3">5 Sizes</div>
      <div class="frame-2131330362__rub3">RUB</div>
    </div>
    <div class="frame-2131330362__rectangle-734 ui-card ui-card--link" data-id="hoodie-chained-4" data-product="Hoodie Chained" data-price="6500" data-link="{% url 'product' 'hoodie-chained-4' %}"></div>
    <div class="frame-2131330362__group-3">
      <div class="frame-2131330362__hoodie-chained4">Hoodie Chained</div>
      <div class="frame-2131330362___65004">6500</div>
      <div class="frame-2131330362___1-color4">1 Color</div>
      <div class="frame-2131330362___5-sizes4">5 Sizes</div>
      <div class="frame-2131330362__rub4">RUB</div>
    </div>
    <div class="frame-2131330362__rectangle-98"></div>
    <div class="frame-2131330362__first-drop-chained">FIRST DROP CHAINED</div>
    <div class="frame-2131330362__div2">Предзаказ</div>
    <div class="frame-2131330362__rectangle-112"></div>
    <a class="frame-2131330362__div3 ui-link ui-nav-link" href="{% url 'catalog' %}">Смотреть все товары</a>
    <div class="frame-2131330362__rectangle-1122"></div>
    <a class="frame-2131330362__div4 ui-link ui-nav-link" href="{% url 'offerts' %}">Подробнее</a>
    <div class="frame-2131330362__div5">О бренде и его названии</div>
    <div class="frame-2131330362__div6">
      создавались с любовью и трудом
      <br />
      тонкий подбор принтов и шрифта
      <br />
      создает целостность
      <br />
    </div>
    <div class="frame-2131330362__div7">Все вещи бренда</div>
    <div class="frame-2131330362__div8">
      лежит связь нас как комьюнити,
      <br />
      особенно можно подчеркнуть
      <br />
      общюю идеалогию
    </div>
    <div class="frame-2131330362__div9">В названии бренда</div>
    <div class="frame-2131330362__rectangle-109"></div>
    <div class="frame-2131330362__rectangle-110"></div>
    <div class="frame-2131330362__rectangle-111"></div>
    <img class="frame-2131330362__vector-28" src="{% static 'index/vector-280.svg' %}" />
    <div class="frame-2131330362__c-chained-project">
      НАШ ПРОЕКТ СВЯЗЫВАЕТ НЕ ТОЛЬКО НАC, CHAINED PROJECT
    </div>
    <img class="frame-2131330362__rectangle-116" src="{% static 'index/rectangle-1160.png' %}" />
    <img class="frame-2131330362__rectangle-118" src="{% static 'index/rectangle-1180.png' %}" />
    <img class="frame-2131330362__rectangle-117" src="{% static 'index/rectangle-1170.png' %}" />
    <div class="frame-2131330362__div10">*</div>
    <div class="frame-2131330362__rectangle-222"></div>
    <div class="frame-2131330362__rectangle-104"></div>
    <img class="frame-2131330362__vector" src="{% static 'index/vector0.svg' %}" />
    <a class="frame-2131330362__div11 ui-link ui-nav-link" href="{% url 'home' %}">Главная</a>
    <a class="frame-2131330362__div12 ui-link ui-nav-link" href="{% url 'socseti' %}">Соц.сети</a>
    <a class="frame-2131330362__div13 ui-link ui-nav-link" href="{% url 'catalog' %}">Все товары</a>
    <div class="frame-2131330362__ellipse-2"></div>
    <div class="frame-2131330362__group-602">
      <div class="frame-2131330362__group-541">
        <div class="frame-2131330362___3 js-cart-count">0</div>
        <div class="frame-2131330362__group-698">
          <div class="frame-2131330362__rectangle-101"></div>
          <div class="frame-2131330362__bag">BAG</div>
          <div class="frame-2131330362__div14">(</div>
          <div class="frame-2131330362__div15">(</div>
        </div>
      </div>
    </div>
    <div class="frame-2131330362__group-606">
      <div class="frame-2131330362__rectangle-103"></div>
    </div>
    <div class="frame-2131330362__group-696">
      <div class="frame-2131330362__group-697">
        <div class="frame-2131330362__div16">Клиентам</div>
        <a class="frame-2131330362__div17 ui-link ui-nav-link" href="{% url 'offerts' %}">
          Договор оферты
          <br />
        </a>
        <a class="frame-2131330362__div18 ui-link ui-nav-link" href="{% url 'offerts' %}">
          Конфидециальность
          <br />
        </a>
        <a class="frame-2131330362__div19 ui-link ui-nav-link" href="{% url 'socseti' %}">Социальные сети</a>
        <div class="frame-2131330362__chained-project-2025">
          CHAINED PROJECT ®2025
        </div>
      </div>
    </div>
  </div>
  

    <div class="ui-floating-panel">
      <button class="ui-button ui-toggle js-animations-toggle" type="button" aria-pressed="false">
        <span>Анимации</span>
        <span class="ui-toggle__switch"></span>
      </button>
      <a class="ui-button ui-link" href="{% url 'catalog' %}">Каталог</a>
      <a class="ui-button ui-link" href="{% url 'socseti' %}">Соц. сети</a>
    </div>
    <button class="ui-cart-button js-cart-toggle" type="button">
      Корзина
      <span class="ui-cart-count js-cart-count">0</span>
    </button>
    <aside class="ui-cart-drawer" aria-label="Корзина">
      <div class="ui-cart-header">
        <h2>Корзина</h2>
        <button class="ui-button js-cart-toggle" type="button">Закрыть</button>
      </div>
      <div class="ui-cart-items js-cart-items"></div>
      <div class="ui-cart-footer">
        <div class="ui-cart-total">Итого: <span class="js-cart-total">0</span> ₽</div>
        <a class="ui-button ui-checkout-button" href="{% url 'oforms' %}">Оформить заказ</a>
      </div>
    </aside>

</body>
</html>
