<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'опд/vars.css' %}">
  <link rel="stylesheet" href="{% static 'опд/style.css' %}">
  
  
  <style>
  html {
    font-size: 0.52vw;
  }
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Согласие на обработку ПДн | Chained Project</title>
  <link rel="stylesheet" href="{% static 'ui/ui.css' %}">
  <script defer src="{% static 'ui/ui.js' %}"></script>
</head>
<body class="ui-body" data-page="personal-data">
  <div class="frame-2131331155">
    <div class="frame-2131331155__rectangle-119"></div>
    <div class="frame-2131331155__ellipse-2"></div>
    <div class="frame-2131331155__rectangle-104"></div>
    <img class="frame-2131331155__vector" src="{% static 'опд/vector0.svg' %}" />
    <a class="frame-2131331155__div ui-link ui-nav-link" href="{% url 'home' %}">Вернуться на главную</a>
    <div class="frame-2131331155__group-602">
      <div class="frame-2131331155__rectangle-101"></div>
      <div class="frame-2131331155__group-541">
        <div class="frame-2131331155__bag">BAG</div>
        <div class="frame-2131331155___3 js-cart-count">0</div>
        <div class="frame-2131331155__div2">(</div>
        <div class="frame-2131331155__div3">(</div>
      </div>
    </div>
    <div
      class="frame-2131331155__https-chainedproject-ru-7165056908820-1-2-3-4-info-chainedproject-ru-10-5"
    >
      <span>
        <span
          class="https-chainedproject-ru-7165056908820-1-2-3-4-info-chainedproject-ru-10-5-span"
        >
          Согласие субъекта на обработку персональных данных
          <br />
          <br />
        </span>
        <span
          class="https-chainedproject-ru-7165056908820-1-2-3-4-info-chainedproject-ru-10-5-span2"
        >
          Я предоставляю настоящее конкретное, информированное и сознательное
          Согласие на обработку персональных данных (далее — «Согласие») на
          условиях, изложенных далее.
          <br />
          <br />
          Предоставлением Согласия считается оформление заказа на сайте в сети
          «Интернет» по адресу: 
        </span>
        <span
          class="https-chainedproject-ru-7165056908820-1-2-3-4-info-chainedproject-ru-10-5-span3"
        >
          https://c
        </span>
        <span
          class="https-chainedproject-ru-7165056908820-1-2-3-4-info-chainedproject-ru-10-5-span2"
        >
          hainedproject.ru/
          <br />
          <br />
          Действуя свободно, в соответствии со своей волей и в своем интересе, а
          также подтверждая своё совершеннолетие и дееспособность, я даю своё
          согласие:
          <br />
          <br />
          Сунгатуллин Азат Алмазович, ИНН: 7165056908820 (зарегестрирован как
          самозанятый)
          <br />
          <br />
          на обработку своих персональных данных на следующих условиях:
          <br />
          <br />
          1. Согласие предоставляется на обработку следующих персональных данных:
          <br />
          <br />
        </span>
        <ul
          class="https-chainedproject-ru-7165056908820-1-2-3-4-info-chainedproject-ru-10-5-span4"
        >
          <li>ФИО;</li>
          <li>Адрес электронной почты;</li>
          <li>Номер телефона;</li>
          <li>Адрес доставки.</li>
        </ul>
        <span
          class="https-chainedproject-ru-7165056908820-1-2-3-4-info-chainedproject-ru-10-5-span2"
        >
          <br />
          2. Я даю свое согласие на обработку персональных данных для следующих
          целей:
          <br />
          <br />
        </span>
        <ul
          class="https-chainedproject-ru-7165056908820-1-2-3-4-info-chainedproject-ru-10-5-span4"
        >
          <li>
            Связи со мной, в том числе направления мне приглашений, уведомлений,
            новостей, а также обработки запросов и заявок от меня
          </li>
          <li>
            Направление уведомлений, запросов и информации, касающихся действий
            Операторов;
          </li>
          <li>Обработка входящих заполненных мной форм обратной связи;</li>
          <li>Взаимодействие со мной как с пользователем;</li>
          <li>
            Обеспечение исполнения нормативных правовых актов, а также решений,
            поручений и запросов органов государственной власти и лиц, действующих
            по поручению или от имени таких органов;
          </li>
          <li>
            Предоставление эффективной клиентской и технической поддержки при
            возникновении проблем
          </li>
        </ul>
        <span
          class="https-chainedproject-ru-7165056908820-1-2-3-4-info-chainedproject-ru-10-5-span2"
        >
          <br />
          Я ознакомлен(а) и согласен(-на), что:
          <br />
          <br />
          3. Имею право направить Операторам запрос на уточнение моих персональных
          данных, требование о блокировании или уничтожении в случае, если
          окажется, что мои персональные данные являются неполными, устаревшими,
          неточными.
          <br />
          <br />
          4. Согласие может быть отозвано мной или моим представителем путем
          направления письменного заявления Операторам или электронного сообщения
          по адресу info@chainedproject.ru. Согласие может быть отозвано при
          условии уведомления не менее чем за 10 (Десять) календарных дней до
          предполагаемой даты прекращения обработки данных Оператором.
          <br />
          <br />
          5. Настоящее Согласие действует все время до момента прекращения
          обработки персональных данных.
        </span>
      </span>
    </div>
    <div class="frame-2131331155__div4">
      ПОЛИТИКА ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ
      <br />
    </div>
    <div class="frame-2131331155__div5">ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ</div>
    <div class="frame-2131331155__div6">
      ПОЛИТИКА
      <br />
      КОНФИДЕНЦИАЛЬНОСТИ
      <br />
    </div>
  </div>
  
</body>
</html>