<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'конфиденциальность/vars.css' %}">
  <link rel="stylesheet" href="{% static 'конфиденциальность/style.css' %}">
  
  
  <style>
  html {
    font-size: 0.52vw;
  }
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Политика конфиденциальности | Chained Project</title>
  <link rel="stylesheet" href="{% static 'ui/ui.css' %}">
  <script defer src="{% static 'ui/ui.js' %}"></script>
</head>
<body class="ui-body" data-page="privacy">
  <div class="frame-2131331154">
    <div class="frame-2131331154__rectangle-119"></div>
    <div class="frame-2131331154__ellipse-2"></div>
    <div class="frame-2131331154__rectangle-104"></div>
    <img class="frame-2131331154__vector" src="{% static 'конфиденциальность/vector0.svg' %}" />
    <a class="frame-2131331154__div ui-link ui-nav-link" href="{% url 'home' %}">Вернуться на главную</a>
    <div class="frame-2131331154__group-602">
      <div class="frame-2131331154__rectangle-101"></div>
      <div class="frame-2131331154__group-541">
        <div class="frame-2131331154__bag">BAG</div>
        <div class="frame-2131331154___3 js-cart-count">0</div>
        <div class="frame-2131331154__div2">(</div>
        <div class="frame-2131331154__div3">(</div>
      </div>
    </div>
    <div
      class="frame-2131331154__https-chainedproject-ru-27-07-2006-152-7165056908820-1-1-1-1-2-1-3-2-cookie-3-4-ip-cookie-6-9-152-5-support-chainedproject-ru-6-cookie-cookie-cookie-cookie-7-7-1-7-2-7-3-ssl-7-4-in-sales-7714843760-8-152-9-10-10-1-10-2-support-chainedproject-ru-10-3"
    >
      <span>
        <span
          class="https-chainedproject-ru-27-07-2006-152-7165056908820-1-1-1-1-2-1-3-2-cookie-3-4-ip-cookie-6-9-152-5-support-chainedproject-ru-6-cookie-cookie-cookie-cookie-7-7-1-7-2-7-3-ssl-7-4-in-sales-7714843760-8-152-9-10-10-1-10-2-support-chainedproject-ru-10-3-span"
        >
          ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ
          <br />
          <br />
        </span>
        <span
          class="https-chainedproject-ru-27-07-2006-152-7165056908820-1-1-1-1-2-1-3-2-cookie-3-4-ip-cookie-6-9-152-5-support-chainedproject-ru-6-cookie-cookie-cookie-cookie-7-7-1-7-2-7-3-ssl-7-4-in-sales-7714843760-8-152-9-10-10-1-10-2-support-chainedproject-ru-10-3-span2"
        >
          Настоящая Политика конфиденциальности (далее — «Политика») определяет
          порядок обработки и защиты персональных данных физических лиц при
          использовании сайта 
        </span>
        <span
          class="https-chainedproject-ru-27-07-2006-152-7165056908820-1-1-1-1-2-1-3-2-cookie-3-4-ip-cookie-6-9-152-5-support-chainedproject-ru-6-cookie-cookie-cookie-cookie-7-7-1-7-2-7-3-ssl-7-4-in-sales-7714843760-8-152-9-10-10-1-10-2-support-chainedproject-ru-10-3-span3"
        >
          https://chainedproject.r
        </span>
        <span
          class="https-chainedproject-ru-27-07-2006-152-7165056908820-1-1-1-1-2-1-3-2-cookie-3-4-ip-cookie-6-9-152-5-support-chainedproject-ru-6-cookie-cookie-cookie-cookie-7-7-1-7-2-7-3-ssl-7-4-in-sales-7714843760-8-152-9-10-10-1-10-2-support-chainedproject-ru-10-3-span2"
        >
          u (в дальнейшем именуемый — «Сайт»), и составлена в соответствии с
          требованиями Федерального закона от 27.07.2006 № 152-ФЗ «О персональных
          данных», а также иных нормативных правовых актов Российской Федерации.
          <br />
          <br />
          Оператором персональных данных является Азат Сунгатуллин Алмазович (ИНН:
          7165056908820, Зарегестрирован как самозанятый).
          <br />
          Размещая данные на Сайте, Пользователь подтверждает, что ознакомлен с
          настоящей Политикой и выражает согласие с её условиями.
          <br />
          <br />
          1. ОБЩИЕ ПОЛОЖЕНИЯ
          <br />
          <br />
          1.1. Настоящая Политика действует в отношении всей информации, которую
          Оператор может получить о Пользователе в процессе использования Сайта,
          оформления заказа или иного взаимодействия.
          <br />
          <br />
          1.2. Персональные данные обрабатываются исключительно на территории
          Российской Федерации, с применением баз данных, размещённых в
          дата-центрах, расположенных в РФ.
          <br />
          <br />
          1.3. Оператор не размещает формы, собирающие избыточные данные, и не
          ведёт обработку сверх установленных целей.
          <br />
          <br />
          2. ОСНОВНЫЕ ПОНЯТИЯ
          <br />
          <br />
        </span>
        <ul
          class="https-chainedproject-ru-27-07-2006-152-7165056908820-1-1-1-1-2-1-3-2-cookie-3-4-ip-cookie-6-9-152-5-support-chainedproject-ru-6-cookie-cookie-cookie-cookie-7-7-1-7-2-7-3-ssl-7-4-in-sales-7714843760-8-152-9-10-10-1-10-2-support-chainedproject-ru-10-3-span4"
        >
          <li>Пользователь — физическое лицо, использующее Сайт.</li>
          <li>
            Субъект персональных данных — лицо, к которому относятся
            обрабатываемые данные.
          </li>
          <li>
            Обработка персональных данных — любое действие, включая сбор,
            систематизацию, хранение, изменение, использование, обезличивание,
            блокирование и уничтожение.
          </li>
          <li>
            Cookie-файлы — фрагменты данных, автоматически сохраняемые браузером и
            используемые для аналитики и настройки пользовательского опыта.
          </li>
        </ul>
        <span
          class="https-chainedproject-ru-27-07-2006-152-7165056908820-1-1-1-1-2-1-3-2-cookie-3-4-ip-cookie-6-9-152-5-support-chainedproject-ru-6-cookie-cookie-cookie-cookie-7-7-1-7-2-7-3-ssl-7-4-in-sales-7714843760-8-152-9-10-10-1-10-2-support-chainedproject-ru-10-3-span2"
        >
          <br />
          3. ЦЕЛИ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ
          <br />
          <br />
          Персональные данные обрабатываются с целью:
          <br />
          <br />
        </span>
        <ul
          class="https-chainedproject-ru-27-07-2006-152-7165056908820-1-1-1-1-2-1-3-2-cookie-3-4-ip-cookie-6-9-152-5-support-chainedproject-ru-6-cookie-cookie-cookie-cookie-7-7-1-7-2-7-3-ssl-7-4-in-sales-7714843760-8-152-9-10-10-1-10-2-support-chainedproject-ru-10-3-span4"
        >
          <li>обработки заказов, доставки товаров, возвратов;</li>
          <li>идентификации Пользователя;</li>
          <li>предоставления клиентской поддержки;</li>
          <li>улучшения качества Сайта и работы с аудиторией;</li>
          <li>
            исполнения обязанностей по закону, в том числе налоговых и
            бухгалтерских.
          </li>
        </ul>
        <span
          class="https-chainedproject-ru-27-07-2006-152-7165056908820-1-1-1-1-2-1-3-2-cookie-3-4-ip-cookie-6-9-152-5-support-chainedproject-ru-6-cookie-cookie-cookie-cookie-7-7-1-7-2-7-3-ssl-7-4-in-sales-7714843760-8-152-9-10-10-1-10-2-support-chainedproject-ru-10-3-span2"
        >
          <br />
          4. СОСТАВ ОБРАБАТЫВАЕМЫХ ДАННЫХ
          <br />
          <br />
          Оператор может обрабатывать следующие категории данных:
          <br />
          <br />
        </span>
        <ul
          class="https-chainedproject-ru-27-07-2006-152-7165056908820-1-1-1-1-2-1-3-2-cookie-3-4-ip-cookie-6-9-152-5-support-chainedproject-ru-6-cookie-cookie-cookie-cookie-7-7-1-7-2-7-3-ssl-7-4-in-sales-7714843760-8-152-9-10-10-1-10-2-support-chainedproject-ru-10-3-span4"
        >
          <li>фамилия, имя, отчество;</li>
          <li>номер телефона, адрес электронной почты;</li>
          <li>адрес доставки;</li>
          <li>сведения о заказах, платежах, программе лояльности;</li>
          <li>
            технические данные (IP-адрес, тип устройства, браузер, сессии,
            cookie-файлы и др.)
          </li>
        </ul>
        <span
          class="https-chainedproject-ru-27-07-2006-152-7165056908820-1-1-1-1-2-1-3-2-cookie-3-4-ip-cookie-6-9-152-5-support-chainedproject-ru-6-cookie-cookie-cookie-cookie-7-7-1-7-2-7-3-ssl-7-4-in-sales-7714843760-8-152-9-10-10-1-10-2-support-chainedproject-ru-10-3-span2"
        >
          <br />
          Данные не объединяются с иными базами, если это не предусмотрено
          законодательством или не требуется для исполнения договора.
          <br />
          <br />
          Все действия по обработке персональных данных осуществляются на
          основании договора поручения или соглашения с третьими лицами, в
          соответствии с требованиями статьи 6 и 9 Федерального закона № 152-ФЗ.
          <br />
          <br />
          5. ПРАВОВЫЕ ОСНОВАНИЯ ОБРАБОТКИ
          <br />
          <br />
          Правовыми основаниями обработки являются:
          <br />
        </span>
        <ul
          class="https-chainedproject-ru-27-07-2006-152-7165056908820-1-1-1-1-2-1-3-2-cookie-3-4-ip-cookie-6-9-152-5-support-chainedproject-ru-6-cookie-cookie-cookie-cookie-7-7-1-7-2-7-3-ssl-7-4-in-sales-7714843760-8-152-9-10-10-1-10-2-support-chainedproject-ru-10-3-span4"
        >
          <li>заключение и исполнение договора (в т.ч. публичной оферты);</li>
          <li>согласие Пользователя;</li>
          <li>выполнение обязанностей, установленных законодательством РФ.</li>
        </ul>
        <span
          class="https-chainedproject-ru-27-07-2006-152-7165056908820-1-1-1-1-2-1-3-2-cookie-3-4-ip-cookie-6-9-152-5-support-chainedproject-ru-6-cookie-cookie-cookie-cookie-7-7-1-7-2-7-3-ssl-7-4-in-sales-7714843760-8-152-9-10-10-1-10-2-support-chainedproject-ru-10-3-span2"
        >
          <br />
          Согласие Пользователя может быть отозвано в любой момент посредством
          обращения на электронную почту Оператора: support@chainedproject.ru
          <br />
          <br />
          6. COOKIE-ФАЙЛЫ И АНАЛИТИКА
          <br />
          <br />
          Сайт использует cookie-файлы и аналитические сервисы для:
          <br />
        </span>
        <ul
          class="https-chainedproject-ru-27-07-2006-152-7165056908820-1-1-1-1-2-1-3-2-cookie-3-4-ip-cookie-6-9-152-5-support-chainedproject-ru-6-cookie-cookie-cookie-cookie-7-7-1-7-2-7-3-ssl-7-4-in-sales-7714843760-8-152-9-10-10-1-10-2-support-chainedproject-ru-10-3-span4"
        >
          <li>сбора обезличенной статистики;</li>
          <li>адаптации интерфейса;</li>
          <li>проведения маркетинговых кампаний.</li>
        </ul>
        <span
          class="https-chainedproject-ru-27-07-2006-152-7165056908820-1-1-1-1-2-1-3-2-cookie-3-4-ip-cookie-6-9-152-5-support-chainedproject-ru-6-cookie-cookie-cookie-cookie-7-7-1-7-2-7-3-ssl-7-4-in-sales-7714843760-8-152-9-10-10-1-10-2-support-chainedproject-ru-10-3-span2"
        >
          <br />
          Используемые cookie не позволяют установить личность Пользователя. При
          желании, Пользователь может ограничить или отключить обработку cookie
          через настройки своего браузера.
          <br />
          <br />
          7. ХРАНЕНИЕ, ПЕРЕДАЧА И ЗАЩИТА ПЕРСОНАЛЬНЫХ ДАННЫХ
          <br />
          <br />
          7.1. Обработка персональных данных осуществляется с соблюдением
          принципов минимальной достаточности и адекватности.
          <br />
          <br />
          7.2. Данные хранятся не дольше, чем это требуется для достижения целей
          обработки или установленных законодательством сроков (в т.ч. по учёту и
          хранению договорных документов).
          <br />
          <br />
          7.3. Технические и организационные меры защиты включают:
          <br />
          <br />
        </span>
        <ul
          class="https-chainedproject-ru-27-07-2006-152-7165056908820-1-1-1-1-2-1-3-2-cookie-3-4-ip-cookie-6-9-152-5-support-chainedproject-ru-6-cookie-cookie-cookie-cookie-7-7-1-7-2-7-3-ssl-7-4-in-sales-7714843760-8-152-9-10-10-1-10-2-support-chainedproject-ru-10-3-span4"
        >
          <li>антивирусную защиту и контроль доступа;</li>
          <li>шифрование соединения SSL;</li>
          <li>резервное копирование данных;</li>
          <li>доступ к данным строго по необходимости.</li>
        </ul>
        <span
          class="https-chainedproject-ru-27-07-2006-152-7165056908820-1-1-1-1-2-1-3-2-cookie-3-4-ip-cookie-6-9-152-5-support-chainedproject-ru-6-cookie-cookie-cookie-cookie-7-7-1-7-2-7-3-ssl-7-4-in-sales-7714843760-8-152-9-10-10-1-10-2-support-chainedproject-ru-10-3-span2"
        >
          <br />
          7.4. Доступ к данным может предоставляться:
          <br />
          <br />
        </span>
        <ul
          class="https-chainedproject-ru-27-07-2006-152-7165056908820-1-1-1-1-2-1-3-2-cookie-3-4-ip-cookie-6-9-152-5-support-chainedproject-ru-6-cookie-cookie-cookie-cookie-7-7-1-7-2-7-3-ssl-7-4-in-sales-7714843760-8-152-9-10-10-1-10-2-support-chainedproject-ru-10-3-span4"
        >
          <li>
            платформе inSales (ООО «Инсейлс Рус», ИНН 7714843760) — для
            обеспечения работы сайта;
          </li>
          <li>транспортным и логистическим партнёрам — для доставки;</li>
          <li>банкам и платежным системам — для обработки оплаты.</li>
        </ul>
        <span
          class="https-chainedproject-ru-27-07-2006-152-7165056908820-1-1-1-1-2-1-3-2-cookie-3-4-ip-cookie-6-9-152-5-support-chainedproject-ru-6-cookie-cookie-cookie-cookie-7-7-1-7-2-7-3-ssl-7-4-in-sales-7714843760-8-152-9-10-10-1-10-2-support-chainedproject-ru-10-3-span2"
        >
          <br />
          Передача персональных данных третьим лицам осуществляется исключительно
          на основании заключенных договоров поручения, содержащих обязательства
          по обеспечению конфиденциальности и безопасности обработки данных, в
          соответствии с требованиями законодательства.
          <br />
          <br />
          Все третьи лица обязаны соблюдать конфиденциальность и действуют на
          основании собственных политик обработки данных.
          <br />
          <br />
          8. ПРАВА СУБЪЕКТА ПЕРСОНАЛЬНЫХ ДАННЫХ
          <br />
          <br />
          Субъект имеет право:
          <br />
        </span>
        <ul
          class="https-chainedproject-ru-27-07-2006-152-7165056908820-1-1-1-1-2-1-3-2-cookie-3-4-ip-cookie-6-9-152-5-support-chainedproject-ru-6-cookie-cookie-cookie-cookie-7-7-1-7-2-7-3-ssl-7-4-in-sales-7714843760-8-152-9-10-10-1-10-2-support-chainedproject-ru-10-3-span4"
        >
          <li>запрашивать сведения об обработке;</li>
          <li>требовать уточнения, блокирования, уничтожения данных;</li>
          <li>отзывать согласие;</li>
          <li>обжаловать действия Оператора в Роскомнадзор или суд;</li>
          <li>реализовать иные права, предусмотренные ФЗ-152.</li>
        </ul>
        <span
          class="https-chainedproject-ru-27-07-2006-152-7165056908820-1-1-1-1-2-1-3-2-cookie-3-4-ip-cookie-6-9-152-5-support-chainedproject-ru-6-cookie-cookie-cookie-cookie-7-7-1-7-2-7-3-ssl-7-4-in-sales-7714843760-8-152-9-10-10-1-10-2-support-chainedproject-ru-10-3-span2"
        >
          <br />
          9. ТРАНСГРАНИЧНАЯ ПЕРЕДАЧА
          <br />
          Оператор может осуществлять трансграничную передачу персональных данных
          при условии, что государство, на территорию которого передаются данные,
          обеспечивает адекватную защиту прав субъектов.
          <br />
          <br />
          На момент публикации настоящей Политики трансграничная передача
          персональных данных Оператором не осуществляется.
          <br />
          <br />
          10. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ
          <br />
          <br />
          10.1. Оператор имеет право вносить изменения в Политику. Актуальная
          версия доступна по адресу: 
          <br />
          <br />
          10.2. Обращения по вопросам обработки можно направлять на
          support@chainedproject.ru
          <br />
          <br />
          10.3. Настоящая редакция Политики действует с момента ее размещения.
        </span>
      </span>
    </div>
    <div class="frame-2131331154__div4">
      ПОЛИТИКА ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ
      <br />
    </div>
    <div class="frame-2131331154__div5">ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ</div>
    <div class="frame-2131331154__div6">
      ПОЛИТИКА
      <br />
      КОНФИДЕНЦИАЛЬНОСТИ
      <br />
    </div>
  </div>
  
</body>
</html>