<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'пользовательское/vars.css' %}">
  <link rel="stylesheet" href="{% static 'пользовательское/style.css' %}">
  
  
  <style>
  html {
    font-size: 0.52vw;
  }
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Пользовательское соглашение | Chained Project</title>
  <link rel="stylesheet" href="{% static 'ui/ui.css' %}">
  <script defer src="{% static 'ui/ui.js' %}"></script>
</head>
<body class="ui-body" data-page="user-agreement">
  <div class="frame-2131331156">
    <div class="frame-2131331156__rectangle-119"></div>
    <div class="frame-2131331156__ellipse-2"></div>
    <div class="frame-2131331156__rectangle-104"></div>
    <img class="frame-2131331156__vector" src="{% static 'пользовательское/vector0.svg' %}" />
    <a class="frame-2131331156__div ui-link ui-nav-link" href="{% url 'home' %}">Вернуться на главную</a>
    <div class="frame-2131331156__group-602">
      <div class="frame-2131331156__rectangle-101"></div>
      <div class="frame-2131331156__group-541">
        <div class="frame-2131331156__bag">BAG</div>
        <div class="frame-2131331156___3 js-cart-count">0</div>
        <div class="frame-2131331156__div2">(</div>
        <div class="frame-2131331156__div3">(</div>
      </div>
    </div>
    <div
      class="frame-2131331156__insales-ru-1-2-a-b-3-4-5-6-7-8-9-1-2-3-10-11-12-a-b-c-d-e-f-g-h-i-j-k-13-chainedproject-14-chainedproject-15-16-17-18-19-20-support-chainedproject-ru"
    >
      <span>
        <span
          class="insales-ru-1-2-a-b-3-4-5-6-7-8-9-1-2-3-10-11-12-a-b-c-d-e-f-g-h-i-j-k-13-chainedproject-14-chainedproject-15-16-17-18-19-20-support-chainedproject-ru-span"
        >
          Согласие субъекта на обработку персональных данных
          <br />
          <br />
        </span>
        <span
          class="insales-ru-1-2-a-b-3-4-5-6-7-8-9-1-2-3-10-11-12-a-b-c-d-e-f-g-h-i-j-k-13-chainedproject-14-chainedproject-15-16-17-18-19-20-support-chainedproject-ru-span2"
        >
          Посещая наш сайт и/или покупая что-либо у нас, вы вступаете в нашу
          &quot;Службу&quot; и соглашаетесь быть связанными следующими условиями
          (&quot;Условия обслуживания&quot;, &quot;Условия&quot;), включая
          дополнительные условия и политики, упомянутые здесь и/или доступные по
          гиперссылке. Эти Условия обслуживания применяются ко всем пользователям
          сайта, включая без ограничений пользователей, которые являются
          браузерами, продавцами, клиентами, торговцами и/или авторами контента.
          <br />
          <br />
          Пожалуйста, внимательно прочитайте эти Условия обслуживания перед
          доступом к нашему веб-сайту или его использованием.
          <br />
          <br />
          Получая доступ к любой части сайта или используя его, вы соглашаетесь
          быть связанными этими Условиями обслуживания. Если вы не согласны со
          всеми условиями и положениями этого соглашения, тогда вы не можете
          получить доступ к веб-сайту или использовать какие-либо услуги. Если эти
          Условия обслуживания рассматриваются как предложение, принятие явно
          ограничено этими Условиями обслуживания.
          <br />
          <br />
          Любые новые функции или инструменты, которые добавляются к текущему
          магазину, также подпадают под Условия обслуживания. Вы можете
          просмотреть самую актуальную версию Условий обслуживания в любое время
          на этой странице. Мы оставляем за собой право обновлять, изменять или
          заменять любую часть этих Условий обслуживания, размещая обновления
          и/или изменения на нашем веб-сайте. Ваша ответственность - периодически
          проверять эту страницу на предмет изменений. Ваше продолжающееся
          использование или доступ к веб-сайту после размещения любых изменений
          означает принятие этих изменений.
          <br />
          <br />
          Наш магазин размещен на insales.ru. Они предоставляют нам онлайн
          платформу электронной коммерции, которая позволяет нам продавать наши
          продукты и услуги вам.
          <br />
          <br />
          РАЗДЕЛ 1 - УСЛОВИЯ ИНТЕРНЕТ-МАГАЗИНА
          <br />
          <br />
          Соглашаясь с этими Условиями обслуживания, вы заявляете, что достигли
          совершеннолетия в вашем штате или провинции проживания, или что вы
          достигли совершеннолетия в вашем штате или провинции проживания и вы
          дали нам свое согласие на использование этого сайта любыми вашими
          несовершеннолетними иждивенцами.
          <br />
          <br />
          Вы не можете использовать наши продукты для каких-либо незаконных или
          несанкционированных целей, а также вы не можете, в использовании Службы,
          нарушать какие-либо законы в вашей юрисдикции (включая, но не
          ограничиваясь, авторскими правами).
          <br />
          <br />
          Вы не должны передавать какие-либо вирусы или коды разрушительного
          характера.
          <br />
          Нарушение или нарушение любых Условий приведет к немедленному
          прекращению ваших Услуг.
          <br />
          <br />
          РАЗДЕЛ 2 - ОБЩИЕ УСЛОВИЯ
          <br />
          <br />
          Мы оставляем за собой право отказать в обслуживании кому-либо по любой
          причине в любое время.
          <br />
          Вы понимаете, что ваш контент (не включая информацию о кредитных картах)
          может быть передан незашифрованным и включать (a) передачи через
          различные сети; и (b) изменения для соответствия и адаптации к
          техническим требованиям подключаемых сетей или устройств. Информация о
          кредитных картах всегда шифруется при передаче через сети.
          <br />
          <br />
          Вы соглашаетесь не воспроизводить, не дублировать, не копировать, не
          продавать, не перепродавать или не эксплуатировать любую часть Службы,
          использование Службы или доступ к Службе или любому контакту на
          веб-сайте, через который предоставляется служба, без выраженного
          письменного разрешения от нас.
          <br />
          <br />
          Заголовки, использованные в этом соглашении, включены только для
          удобства и не будут ограничивать или иным образом влиять на эти Условия.
          <br />
          <br />
          РАЗДЕЛ 3 - ТОЧНОСТЬ, ПОЛНОТА И СВОЕВРЕМЕННОСТЬ ИНФОРМАЦИИ
          <br />
          <br />
          Мы не несем ответственности, если информация, предоставленная на этом
          сайте, не является точной, полной или актуальной. Материал на этом сайте
          предоставляется только для общей информации и не должен использоваться
          как единственный критерий для принятия решений без консультации с
          первичными, более точными, более полными или более своевременными
          источниками информации. Любая зависимость от материала на этом сайте на
          ваш собственный риск.
          <br />
          Этот сайт может содержать определенную историческую информацию.
          Историческая информация, необходимо, не является актуальной и
          предоставляется только для вашего справочного использования. Мы
          оставляем за собой право изменять содержание этого сайта в любое время,
          но у нас нет обязательства обновлять какую-либо информацию на нашем
          сайте. Вы соглашаетесь, что ваша ответственность - следить за
          изменениями на нашем сайте.
          <br />
          <br />
          РАЗДЕЛ 4 - ИЗМЕНЕНИЯ СЛУЖБЫ И ЦЕН
          <br />
          <br />
          Цены на наши продукты могут изменяться без предварительного уведомления.
          <br />
          Мы оставляем за собой право в любое время модифицировать или прекратить
          Службу (или любую ее часть или содержание) без предварительного
          уведомления в любое время.
          <br />
          <br />
          Мы не несем ответственности перед вами или любой третьей стороной за
          любые изменения цен, приостановку или прекращение Службы.
          <br />
          <br />
          РАЗДЕЛ 5 - ПРОДУКТЫ ИЛИ УСЛУГИ (если применимо)
          <br />
          <br />
          Определенные продукты или услуги могут быть доступны исключительно
          онлайн через веб-сайт. Эти продукты или услуги могут иметь ограниченное
          количество и подлежат возврату или обмену только в соответствии с нашей
          Политикой возврата.
          <br />
          <br />
          Мы приложили все усилия, чтобы как можно точнее отобразить цвета и
          изображения наших продуктов, которые появляются в магазине. Мы не можем
          гарантировать, что дисплей вашего компьютера отобразит любой цвет точно.
          <br />
          <br />
          Мы оставляем за собой право, но не обязаны, ограничивать продажи наших
          продуктов или Услуг любому лицу, географическому региону или юрисдикции.
          Мы можем использовать это право по каждому случаю индивидуально. Мы
          оставляем за собой право ограничивать количество любых продуктов или
          услуг, которые мы предлагаем. Все описания продуктов или ценообразование
          продуктов подлежат изменению в любое время без уведомления, по
          единоличному усмотрению нас. Мы оставляем за собой право прекратить
          любой продукт в любое время. Любое предложение для любого продукта или
          услуги, сделанное на этом сайте, недействительно, где это запрещено.
          <br />
          Мы не гарантируем, что качество любых продуктов, услуг, информации или
          других материалов, купленных или полученных вами, будет соответствовать
          вашим ожиданиям, или что любые ошибки в Службе будут исправлены.
          <br />
          <br />
          РАЗДЕЛ 6 - ТОЧНОСТЬ ИНФОРМАЦИИ О ПЛАТЕЖАХ И УЧЕТНЫХ ЗАПИСЯХ
          <br />
          <br />
          Мы оставляем за собой право отказать в любом заказе, сделанном у нас. Мы
          можем по собственному усмотрению ограничить или отменить количество
          покупаемых товаров на человека, на семью или на заказ. Эти ограничения
          могут включать заказы, сделанные одним и тем же клиентским аккаунтом, с
          использованием одной и той же кредитной карты и/или заказы, для которых
          используется один и тот же платежный и/или доставочный адрес. В случае
          если мы внесем изменения в заказ или отменим его, мы постараемся
          уведомить вас, связавшись по электронной почте и/или платежному
          адресу/номеру телефона, предоставленному в момент совершения заказа. Мы
          оставляем за собой право ограничить или запретить заказы, которые, по
          нашему единоличному суждению, кажутся сделанными дилерами,
          перепродавцами или дистрибьюторами.
          <br />
          <br />
          Вы соглашаетесь предоставлять актуальную, полную и точную информацию о
          покупке и учетной записи для всех покупок, совершенных в нашем магазине.
          Вы соглашаетесь незамедлительно обновлять информацию о вашем аккаунте и
          другую информацию, включая ваш электронный адрес и номера кредитных карт
          с их сроками действия, чтобы мы могли завершать ваши транзакции и
          связываться с вами при необходимости.
          <br />
          <br />
          Для получения дополнительной информации, пожалуйста, ознакомьтесь с
          нашей Политикой возврата.
          <br />
          <br />
          РАЗДЕЛ 7 - НЕОБЯЗАТЕЛЬНЫЕ ИНСТРУМЕНТЫ
          <br />
          <br />
          Мы можем предоставить вам доступ к инструментам третьих сторон, за
          которыми мы не осуществляем мониторинг и не имеем никакого контроля или
          ввода.
          <br />
          Вы признаете и соглашаетесь с тем, что мы предоставляем доступ к таким
          инструментам &quot;как есть&quot; и &quot;как доступно&quot; без
          каких-либо гарантий, заявлений или условий любого рода и без какого-либо
          одобрения. Мы не несем никакой ответственности за любые последствия,
          связанные с вашим использованием необязательных инструментов третьих
          сторон.
          <br />
          Любое использование вами необязательных инструментов, предложенных на
          сайте, осуществляется исключительно на ваш риск и усмотрение, и вы
          должны убедиться, что вы знакомы и одобряете условия, на которых
          инструменты предоставляются соответствующими поставщиками третьих
          сторон.
          <br />
          <br />
          В будущем мы также можем предложить новые услуги и/или функции через
          веб-сайт (включая выпуск новых инструментов и ресурсов). Такие новые
          функции и/или услуги также будут подчиняться этим Условиям обслуживания.
          <br />
          <br />
          РАЗДЕЛ 8 - ССЫЛКИ НА СТОРОННИЕ САЙТЫ
          <br />
          <br />
          Некоторый контент, продукты и услуги, доступные через нашу Службу, могут
          включать материалы от сторонних поставщиков.
          <br />
          <br />
          Ссылки третьих сторон на этом сайте могут направлять вас на веб-сайты
          третьих сторон, не аффилированные с нами. Мы не несем ответственности за
          изучение или оценку содержания или точности, и мы не гарантируем и не
          несем никакой ответственности за материалы третьих сторон или веб-сайты,
          или за любые другие материалы, продукты или услуги третьих сторон.
          <br />
          Мы не несем ответственности за любой ущерб или убытки, связанные с
          покупкой или использованием товаров, услуг, ресурсов, контента или любых
          других транзакций, совершенных в связи с веб-сайтами третьих сторон.
          Пожалуйста, внимательно ознакомьтесь с политиками и практиками третьих
          сторон и убедитесь, что вы их понимаете, прежде чем вступать в любую
          сделку. Жалобы, претензии, вопросы или опасения относительно продуктов
          третьих сторон следует направлять непосредственно третьей стороне.
          <br />
          <br />
          РАЗДЕЛ 9 - КОММЕНТАРИИ ПОЛЬЗОВАТЕЛЕЙ, ОБРАТНАЯ СВЯЗЬ И ДРУГИЕ
          ПРЕДЛОЖЕНИЯ
          <br />
          <br />
          Если по нашей просьбе вы отправляете определенные конкретные материалы
          (например, заявки на участие в конкурсах) или без запроса от нас вы
          отправляете творческие идеи, предложения, планы или другие материалы,
          будь то онлайн, по электронной почте, почтовым отправлением или иным
          способом (совокупно, &#039;комментарии&#039;), вы соглашаетесь, что мы
          можем в любое время, без ограничений, редактировать, копировать,
          публиковать, распространять, переводить и иным образом использовать в
          любой среде любые комментарии, которые вы нам отправляете. Мы не обязаны
          (1) сохранять какие-либо комментарии в тайне; (2) платить вознаграждение
          за любые комментарии; или (3) отвечать на любые комментарии.
          <br />
          <br />
          Мы можем, но не обязаны, следить, редактировать или удалять контент,
          который мы по собственному усмотрению считаем незаконным,
          оскорбительным, угрожающим, клеветническим, диффамационным,
          порнографическим, непристойным или иным образом неприемлемым или
          нарушающим интеллектуальную собственность или эти Условия обслуживания
          любой стороны.
          <br />
          Вы соглашаетесь, что ваши комментарии не будут нарушать никаких прав
          третьих сторон, включая авторские права, товарные знаки, права на
          частную жизнь, личность или другие личные или собственные права. Вы
          дополнительно соглашаетесь, что ваши комментарии не будут содержать
          клеветнический или иным образом незаконный, злоупотребительный или
          непристойный материал, или содержать какие-либо компьютерные вирусы или
          другое вредоносное программное обеспечение, которое каким-либо образом
          может повлиять на работу Сервиса или любого связанного веб-сайта. Вы не
          можете использовать ложный электронный адрес, притворяться кем-то
          другим, кроме себя, или иным образом вводить нас или третьих сторон в
          заблуждение относительно происхождения любых комментариев. Вы несете
          единоличную ответственность за любые комментарии, которые вы делаете, и
          их точность. Мы не несем ответственности и не принимаем на себя никакой
          ответственности за любые комментарии, размещенные вами или любой третьей
          стороной.
          <br />
          <br />
          РАЗДЕЛ 10 - ЛИЧНАЯ ИНФОРМАЦИЯ
          <br />
          <br />
          Ваша подача личной информации через магазин регулируется нашей Политикой
          конфиденциальности. Чтобы просмотреть нашу Политику конфиденциальности.
          <br />
          <br />
          РАЗДЕЛ 11 - ОШИБКИ, НЕТОЧНОСТИ И ОПУЩЕНИЯ
          <br />
          <br />
          Иногда на нашем сайте или в Сервисе могут появляться сведения,
          содержащие опечатки, неточности или упущения, которые могут касаться
          описаний товаров, ценообразования, акций, предложений, стоимости
          доставки товаров, времени транзита и наличия. Мы оставляем за собой
          право исправлять любые ошибки, неточности или упущения и изменять или
          обновлять информацию или отменять заказы, если какая-либо информация в
          Сервисе или на любом связанном веб-сайте является неточной в любое время
          без предварительного уведомления (включая после того, как вы подали ваш
          заказ).
          <br />
          <br />
          Мы не берем на себя обязательство обновлять, исправлять или уточнять
          информацию в Сервисе или на любом связанном веб-сайте, включая, без
          ограничений, информацию о ценах, за исключением случаев, требуемых
          законом. Никакая конкретная дата обновления или обновление, примененное
          в Сервисе или на любом связанном веб-сайте, не должно рассматриваться
          как указание на то, что вся информация в Сервисе или на любом связанном
          веб-сайте была изменена или обновлена.
          <br />
          <br />
          РАЗДЕЛ 12 - ЗАПРЕЩЕННОЕ ИСПОЛЬЗОВАНИЕ
          <br />
          <br />
          В дополнение к другим запретам, изложенным в Условиях обслуживания, вам
          запрещено использовать сайт или его содержимое: (a) в любых незаконных
          целях; (b) для призыва других выполнять или участвовать в любых
          незаконных актах; (c) для нарушения международных, федеральных,
          провинциальных или государственных нормативных актов, правил, законов
          или местных постановлений; (d) для нарушения или ущемления наших прав
          интеллектуальной собственности или прав интеллектуальной собственности
          других; (e) для домогательств, злоупотреблений, оскорблений, вреда,
          клеветы, смешения, унижения, запугивания или дискриминации на основе
          пола, сексуальной ориентации, религии, этнической принадлежности, расы,
          возраста, национального происхождения или инвалидности; (f) для
          предоставления ложной или вводящей в заблуждение информации; (g) для
          загрузки или передачи вирусов или любого другого типа вредоносного кода,
          который будет или может быть использован любым способом, который
          повлияет на функциональность или работу Сервиса или любого связанного
          веб-сайта, других веб-сайтов или Интернета; (h) для сбора или
          отслеживания личной информации других; (i) для спама, фишинга, фарминга,
          предлога, краулинга или скрепинга; (j) в любых непристойных или
          аморальных целях; или (k) для вмешательства в безопасность Сервиса или
          любого связанного веб-сайта, других веб-сайтов или Интернета. Мы
          оставляем за собой право прекратить ваше использование Сервиса или
          любого связанного веб-сайта за нарушение любых из запрещенных
          использований.
          <br />
          <br />
          РАЗДЕЛ 13 - ОТКАЗ ОТ ГАРАНТИЙ; ОГРАНИЧЕНИЕ ОТВЕТСТВЕННОСТИ
          <br />
          <br />
          Мы не гарантируем, что ваше использование нашего сервиса будет
          непрерывным, своевременным, безопасным или безошибочным.
          <br />
          <br />
          Мы не гарантируем, что результаты, которые могут быть получены от
          использования сервиса, будут точными или надежными.
          <br />
          <br />
          Вы соглашаетесь, что время от времени мы можем удалять сервис на
          неопределенные периоды времени или отменять сервис в любое время без
          уведомления вас.
          <br />
          Вы явно соглашаетесь, что ваше использование или невозможность
          использования сервиса находится исключительно на ваш страх и риск.
          Сервис и все продукты и услуги, доставленные вам через сервис,
          предоставляются (за исключением случаев, явно указанных нами) &quot;как
          есть&quot; и &quot;как доступно&quot; для вашего использования, без
          каких-либо заявлений, гарантий или условий любого рода, явных или
          подразумеваемых, включая все подразумеваемые гарантии или условия
          товарной пригодности, качества товара, пригодности для определенной
          цели, долговечности, права собственности и ненарушения прав.
          <br />
          <br />
          Ни при каких обстоятельствах CHAINEDPROJECT, наши директора, офицеры,
          сотрудники, аффилиаты, агенты, подрядчики, стажеры, поставщики,
          поставщики услуг или лицензиары не будут нести ответственность за любые
          травмы, убытки, претензии или любые прямые, косвенные, случайные,
          наказательные, специальные или последующие убытки любого рода, включая,
          без ограничений, упущенную выгоду, упущенный доход, упущенные
          сбережения, потерю данных, затраты на замену или любые подобные убытки,
          будь то на основании договора, деликта (включая небрежность), строгой
          ответственности или иным образом, возникающие из вашего использования
          любого из сервиса или любых продуктов, приобретенных с использованием
          сервиса, или за любые другие претензии каким-либо образом связанные с
          вашим использованием сервиса или любого продукта, включая, но не
          ограничиваясь, любые ошибки или упущения в любом содержании, или любые
          убытки или ущерб любого рода, понесенные в результате использования
          сервиса или любого контента (или продукта), размещенного, переданного
          или иным образом сделанного доступным через сервис, даже если о
          возможности таких убытков было предупреждено. Поскольку некоторые штаты
          или юрисдикции не допускают исключение или ограничение ответственности
          за последующие или случайные убытки, в таких штатах или юрисдикциях наша
          ответственность будет ограничена в максимально допустимой законом
          степени.
          <br />
          <br />
          РАЗДЕЛ 14 - ВОЗМЕЩЕНИЕ УЩЕРБА
          <br />
          <br />
          Вы соглашаетесь возместить, защитить и оградить от вреда CHAINEDPROJECT
          и наших материнских компаний, дочерних компаний, аффилиатов, партнеров,
          директоров, агентов, подрядчиков, лицензиаров, поставщиков услуг,
          субподрядчиков, поставщиков, стажеров и сотрудников от любых претензий
          или требований, включая разумные адвокатские гонорары, предъявленные
          любой третьей стороной из-за или в результате вашего нарушения этих
          Условий обслуживания или документов, которые они включают по ссылке, или
          вашего нарушения любого закона или прав третьей стороны.
          <br />
          <br />
          РАЗДЕЛ 15 - РАЗДЕЛИМОСТЬ
          <br />
          <br />
          В случае, если какое-либо положение этих Условий обслуживания будет
          признано незаконным, недействительным или неисполнимым, такое положение
          тем не менее будет исполняемо в максимальной степени, допускаемой
          применимым законодательством, и неисполнимая часть будет считаться
          отделенной от этих Условий обслуживания, такое решение не повлияет на
          действительность и исполнимость любых других оставшихся положений.
          <br />
          <br />
          РАЗДЕЛ 16 - ЗАВЕРШЕНИЕ
          <br />
          <br />
          Обязательства и ответственность сторон, возникшие до даты завершения,
          сохраняются после прекращения этого соглашения для всех целей.
          <br />
          <br />
          Эти Условия обслуживания действуют до тех пор, пока не будут прекращены
          либо вами, либо нами. Вы можете в любое время расторгнуть эти Условия
          обслуживания, уведомив нас о том, что больше не желаете пользоваться
          нашими Услугами, или когда вы перестаете использовать наш сайт.
          <br />
          Если по нашему единоличному суждению вы не выполняете или мы
          подозреваем, что вы не выполнили любой термин или условие этих Условий
          обслуживания, мы также можем в любое время прекратить это соглашение без
          уведомления, и вы останетесь ответственны за все суммы, долги до и
          включая дату завершения; и/или соответственно можем отказать вам в
          доступе к нашим Услугам (или любой их части).
          <br />
          <br />
          РАЗДЕЛ 17 - ПОЛНОЕ СОГЛАШЕНИЕ
          <br />
          <br />
          Неудача нас в осуществлении или применении любого права или положения
          этих Условий обслуживания не будет считаться отказом от такого права или
          положения.
          <br />
          Эти Условия обслуживания и любые политики или правила работы,
          размещенные нами на этом сайте или в отношении Услуги, составляют полное
          соглашение и взаимопонимание между вами и нами и регулируют ваше
          использование Услуги, заменяя любые предыдущие или современные
          соглашения, коммуникации и предложения, будь то устные или письменные,
          между вами и нами (включая, но не ограничиваясь, предыдущими версиями
          Условий обслуживания).
          <br />
          Любые неоднозначности в толковании этих Условий обслуживания не будут
          трактоваться против стороны, составившей документ.
          <br />
          <br />
          РАЗДЕЛ 18 - ПРИМЕНИМОЕ ПРАВО
          <br />
          <br />
          Эти Условия обслуживания и любые отдельные соглашения, по которым мы
          предоставляем вам Услуги, регулируются и толкуются в соответствии с
          законодательством Российской Федерации.
          <br />
          <br />
          РАЗДЕЛ 19 - ИЗМЕНЕНИЯ УСЛОВИЙ ОБСЛУЖИВАНИЯ
          <br />
          <br />
          Вы можете просмотреть самую актуальную версию Условий обслуживания в
          любое время на этой странице.
          <br />
          <br />
          Мы оставляем за собой право по собственному усмотрению обновлять,
          изменять или заменять любую часть этих Условий обслуживания, размещая
          обновления и изменения на нашем веб-сайте. Ваша ответственность -
          периодически проверять наш веб-сайт на предмет изменений. Ваше
          продолжающееся использование или доступ к нашему веб-сайту или Услуге
          после публикации любых изменений в этих Условиях обслуживания означает
          принятие этих изменений.
          <br />
          <br />
          РАЗДЕЛ 20 - КОНТАКТНАЯ ИНФОРМАЦИЯ
          <br />
          <br />
          Вопросы о условиях обслуживания следует направлять нам на
          support@chainedproject.ru
        </span>
      </span>
    </div>
    <div class="frame-2131331156__div4">
      ПОЛИТИКА ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ
      <br />
    </div>
    <div class="frame-2131331156__div5">ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ</div>
    <div class="frame-2131331156__div6">
      ПОЛИТИКА
      <br />
      КОНФИДЕНЦИАЛЬНОСТИ
      <br />
    </div>
  </div>
  
</body>
</html>