.frame-2131331153,
.frame-2131331153 * {
  box-sizing: border-box;
}
.frame-2131331153 {
  height: 322.1rem;
  position: relative;
}
.frame-2131331153__group-1168 {
  position: absolute;
  inset: 0;
}
.frame-2131331153__rectangle-119 {
  background: #000000;
  width: 322.1rem;
  height: 192rem;
  position: absolute;
  left: 0rem;
  top: 322.1rem;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.frame-2131331153__ellipse-2 {
  background: #000000;
  border-radius: 50%;
  width: 0.6rem;
  height: 0.5820000000000001rem;
  position: absolute;
  left: 30.4rem;
  top: 7.269rem;
}
.frame-2131331153__group-1169 {
  position: absolute;
  inset: 0;
}
.frame-2131331153__rectangle-104 {
  background: #ffffff;
  width: 192rem;
  height: 9.9rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
}
.frame-2131331153__vector {
  border-radius: 0rem;
  width: 8.2rem;
  height: 3.5rem;
  position: absolute;
  left: 91.9rem;
  top: 3.2rem;
  overflow: visible;
}
.frame-2131331153__div {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.491561698913574rem;
  letter-spacing: 0.01em;
  font-weight: 500;
  text-decoration: underline;
  position: absolute;
  left: 6.1rem;
  top: 2.9rem;
}
.frame-2131331153__group-602 {
  width: 18.3rem;
  height: 5.1rem;
  position: static;
}
.frame-2131331153__rectangle-101 {
  border-radius: 22.705000000000002rem;
  border-style: solid;
  border-color: #000000;
  border-width: 0.2rem;
  width: 18.3rem;
  height: 5.1rem;
  position: absolute;
  left: 167.3rem;
  top: 2.4rem;
}
.frame-2131331153__group-541 {
  width: 13.232rem;
  height: 2.6rem;
  position: static;
}
.frame-2131331153__bag {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.572031593322754rem;
  line-height: 2.572rem;
  letter-spacing: 0.11em;
  font-weight: 500;
  position: absolute;
  left: 170.4rem;
  top: 3.6109999999999998rem;
}
.frame-2131331153___3 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.572031593322754rem;
  line-height: 2.572rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 180.226rem;
  top: 3.6109999999999998rem;
}
.frame-2131331153__div2 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.572031593322754rem;
  line-height: 2.572rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 177.88rem;
  top: 3.6109999999999998rem;
}
.frame-2131331153__div3 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.572031593322754rem;
  line-height: 2.572rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 183.632rem;
  top: 3.6109999999999998rem;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.frame-2131331153__https-nogletcher-com-1-1-1-7165056908820-https-chainedproject-ru-1-2-1-3-1-4-1-5-1-6-2-2-1-7-26-1-2-2-2-3-t-me-chained-support-2-4-2-5-2-6-6-31-12-2020-2463-3-3-1-4-4-26-1-3-2-3-3-4-26-1-3-4-4-4-1-6-31-12-2020-2463-4-2-1-3-5-nchl-6-61-2-45-16-cdek-ru-t-me-chained-support-6-6-1-6-2-6-3-7-7-1-7-2-7-3-hained-project {
  color: #ffffff;
  text-align: left;
  position: absolute;
  left: 6.5rem;
  top: 15.1rem;
  width: 165.5rem;
}
.https-nogletcher-com-1-1-1-7165056908820-https-chainedproject-ru-1-2-1-3-1-4-1-5-1-6-2-2-1-7-26-1-2-2-2-3-t-me-chained-support-2-4-2-5-2-6-6-31-12-2020-2463-3-3-1-4-4-26-1-3-2-3-3-4-26-1-3-4-4-4-1-6-31-12-2020-2463-4-2-1-3-5-nchl-6-61-2-45-16-cdek-ru-t-me-chained-support-6-6-1-6-2-6-3-7-7-1-7-2-7-3-hained-project-span {
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 27.29966926574707px;
  line-height: 28px;
  letter-spacing: 0.01em;
  font-weight: 600;
}
.https-nogletcher-com-1-1-1-7165056908820-https-chainedproject-ru-1-2-1-3-1-4-1-5-1-6-2-2-1-7-26-1-2-2-2-3-t-me-chained-support-2-4-2-5-2-6-6-31-12-2020-2463-3-3-1-4-4-26-1-3-2-3-3-4-26-1-3-4-4-4-1-6-31-12-2020-2463-4-2-1-3-5-nchl-6-61-2-45-16-cdek-ru-t-me-chained-support-6-6-1-6-2-6-3-7-7-1-7-2-7-3-hained-project-span2 {
  font-family: "Manrope-Medium", sans-serif;
  font-size: 22.676925659179688px;
  line-height: 28px;
  letter-spacing: 0.01em;
  font-weight: 500;
}
