.frame-2131331158,
.frame-2131331158 * {
  box-sizing: border-box;
}
.frame-2131331158 {
  height: 331rem;
  position: relative;
}
.frame-2131331158__rectangle-361 {
  background: #ffffff;
  width: 88.6rem;
  height: 325.7rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
}
.frame-2131331158__rectangle-362 {
  background: #000000;
  width: 88.6rem;
  height: 309.5rem;
  position: absolute;
  left: 0rem;
  top: 21.5rem;
}
.frame-2131331158__rectangle-363 {
  background: #000000;
  width: 88.6rem;
  height: 0.2rem;
  position: absolute;
  left: 0rem;
  top: 23.8rem;
}
.frame-2131331158__group-1168 {
  position: absolute;
  inset: 0;
}
.frame-2131331158__rectangle-149 {
  width: 37.9rem;
  height: 50.7rem;
  position: absolute;
  left: 4.4rem;
  top: 30.5rem;
  object-fit: cover;
}
.frame-2131331158__hoodie-chain-black {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 3.401717758178711rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 4.4rem;
  top: 82.5rem;
}
.frame-2131331158__group-1169 {
  position: absolute;
  inset: 0;
}
.frame-2131331158__rectangle-1492 {
  width: 37.9rem;
  height: 50.7rem;
  position: absolute;
  left: 45.5rem;
  top: 30.5rem;
  object-fit: cover;
}
.frame-2131331158___7499 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 3.401717758178711rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 45.5rem;
  top: 88.5rem;
}
.frame-2131331158__hoodie-chain-black2 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 3.401717758178711rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 45.5rem;
  top: 82.5rem;
}
.frame-2131331158__rub {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 3.401717758178711rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 54rem;
  top: 88.5rem;
}
.frame-2131331158__group-1170 {
  position: absolute;
  inset: 0;
}
.frame-2131331158__rectangle-1493 {
  width: 37.9rem;
  height: 50.7rem;
  position: absolute;
  left: 4.4rem;
  top: 100.6rem;
  object-fit: cover;
}
.frame-2131331158___74992 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 3.401717758178711rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 4.4rem;
  top: 158.6rem;
}
.frame-2131331158__hoodie-chain-black3 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 3.401717758178711rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 4.4rem;
  top: 152.6rem;
}
.frame-2131331158__div {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 3.401717758178711rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 12.9rem;
  top: 158.6rem;
}
.frame-2131331158__group-1171 {
  position: absolute;
  inset: 0;
}
.frame-2131331158__rectangle-1494 {
  width: 37.9rem;
  height: 50.7rem;
  position: absolute;
  left: 45.5rem;
  top: 100.6rem;
  object-fit: cover;
}
.frame-2131331158___74993 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 3.401717758178711rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 45.5rem;
  top: 158.6rem;
}
.frame-2131331158__hoodie-chain-black4 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 3.401717758178711rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 45.5rem;
  top: 152.6rem;
}
.frame-2131331158__div2 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 3.401717758178711rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 54rem;
  top: 158.6rem;
}
.frame-2131331158__group-1172 {
  position: absolute;
  inset: 0;
}
.frame-2131331158__rectangle-150 {
  background: #ffffff;
  border-radius: 30rem;
  width: 17.3rem;
  height: 5.8rem;
  position: absolute;
  left: 4.4rem;
  top: 88.5rem;
}
.frame-2131331158___6499 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 3.042381477355957rem;
  letter-spacing: -0.06em;
  font-weight: 600;
  position: absolute;
  left: 8.3rem;
  top: 89.3rem;
}
.frame-2131331158__div3 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 3.042381477355957rem;
  letter-spacing: -0.06em;
  font-weight: 600;
  position: absolute;
  left: 15.8rem;
  top: 89.3rem;
}
.frame-2131331158__group-1173 {
  position: absolute;
  inset: 0;
}
.frame-2131331158___74994 {
  color: #373737;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 3.042381477355957rem;
  letter-spacing: -0.06em;
  font-weight: 500;
  position: absolute;
  left: 24.3rem;
  top: 89.3rem;
}
.frame-2131331158__rub2 {
  color: #373737;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 3.042381477355957rem;
  letter-spacing: -0.06em;
  font-weight: 500;
  position: absolute;
  left: 31.9rem;
  top: 90.4rem;
}
.frame-2131331158__vector-49 {
  width: 14.5rem;
  height: 0rem;
  position: absolute;
  left: 23.8rem;
  top: 91.4rem;
  overflow: visible;
}
.frame-2131331158__group-1174 {
  position: absolute;
  inset: 0;
}
.frame-2131331158__rectangle-1495 {
  width: 37.9rem;
  height: 50.7rem;
  position: absolute;
  left: 4.4rem;
  top: 170.3rem;
  object-fit: cover;
}
.frame-2131331158__hoodie-chain-black5 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 3.401717758178711rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 4.4rem;
  top: 222.3rem;
}
.frame-2131331158__group-1175 {
  position: absolute;
  inset: 0;
}
.frame-2131331158__rectangle-1496 {
  width: 37.9rem;
  height: 50.7rem;
  position: absolute;
  left: 45.5rem;
  top: 170.3rem;
  object-fit: cover;
}
.frame-2131331158___74995 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 3.401717758178711rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 45.5rem;
  top: 228.3rem;
}
.frame-2131331158__hoodie-chain-black6 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 3.401717758178711rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 45.5rem;
  top: 222.3rem;
}
.frame-2131331158__rub3 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 3.401717758178711rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 54rem;
  top: 228.3rem;
}
.frame-2131331158__group-1176 {
  position: absolute;
  inset: 0;
}
.frame-2131331158__rectangle-1497 {
  width: 37.9rem;
  height: 50.7rem;
  position: absolute;
  left: 4.4rem;
  top: 240.4rem;
  object-fit: cover;
}
.frame-2131331158___74996 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 3.401717758178711rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 4.4rem;
  top: 298.4rem;
}
.frame-2131331158__hoodie-chain-black7 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 3.401717758178711rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 4.4rem;
  top: 292.4rem;
}
.frame-2131331158__div4 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 3.401717758178711rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 12.9rem;
  top: 298.4rem;
}
.frame-2131331158__group-1177 {
  position: absolute;
  inset: 0;
}
.frame-2131331158__rectangle-1498 {
  width: 37.9rem;
  height: 50.7rem;
  position: absolute;
  left: 45.5rem;
  top: 240.4rem;
  object-fit: cover;
}
.frame-2131331158___74997 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 3.401717758178711rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 45.5rem;
  top: 298.4rem;
}
.frame-2131331158__hoodie-chain-black8 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 3.401717758178711rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 45.5rem;
  top: 292.4rem;
}
.frame-2131331158__div5 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 3.401717758178711rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 54rem;
  top: 298.4rem;
}
.frame-2131331158__group-1178 {
  position: absolute;
  inset: 0;
}
.frame-2131331158__rectangle-1502 {
  background: #ffffff;
  border-radius: 30rem;
  width: 17.3rem;
  height: 5.8rem;
  position: absolute;
  left: 4.4rem;
  top: 228.3rem;
}
.frame-2131331158___64992 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 3.042381477355957rem;
  letter-spacing: -0.06em;
  font-weight: 600;
  position: absolute;
  left: 8.3rem;
  top: 229.1rem;
}
.frame-2131331158__div6 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 3.042381477355957rem;
  letter-spacing: -0.06em;
  font-weight: 600;
  position: absolute;
  left: 15.8rem;
  top: 229.1rem;
}
.frame-2131331158__group-1179 {
  position: absolute;
  inset: 0;
}
.frame-2131331158___74998 {
  color: #373737;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 3.042381477355957rem;
  letter-spacing: -0.06em;
  font-weight: 500;
  position: absolute;
  left: 24.3rem;
  top: 229.1rem;
}
.frame-2131331158__rub4 {
  color: #373737;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 3.042381477355957rem;
  letter-spacing: -0.06em;
  font-weight: 500;
  position: absolute;
  left: 31.9rem;
  top: 230.2rem;
}
.frame-2131331158__vector-492 {
  width: 14.5rem;
  height: 0rem;
  position: absolute;
  left: 23.8rem;
  top: 231.2rem;
  overflow: visible;
}
.frame-2131331158__chained-project-2025 {
  color: #ffffff;
  text-align: left;
  font-family: "ArialNarrow-Regular", sans-serif;
  font-size: 2.5085325241088867rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 32rem;
  top: 316.8rem;
}
.frame-2131331158__group-1197 {
  position: absolute;
  inset: 0;
}
.frame-2131331158__group-614 {
  width: 8.9rem;
  height: 3.8rem;
  position: absolute;
  left: 39.7rem;
  top: 15.8rem;
  overflow: visible;
}
.frame-2131331158__vector {
  width: 3.5rem;
  height: 2.6rem;
  position: absolute;
  left: 6.9rem;
  top: 16.3rem;
  overflow: visible;
}
.frame-2131331158__rectangle-102 {
  border-radius: 24.486rem;
  border-style: solid;
  border-color: #000000;
  border-width: 0.2rem;
  width: 16.8rem;
  height: 5.5rem;
  position: absolute;
  left: 64.83500000000001rem;
  top: 15rem;
}
.frame-2131331158__group-542 {
  width: 12.513rem;
  height: 2.8rem;
  position: static;
}
.frame-2131331158__bag {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.500930595397949rem;
  line-height: 2.5010000000000003rem;
  letter-spacing: 0.11em;
  font-weight: 500;
  position: absolute;
  left: 67rem;
  top: 16.5rem;
}
.frame-2131331158___3 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.773759460449219rem;
  line-height: 2.774rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 75.84rem;
  top: 16.306rem;
}
.frame-2131331158__div7 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.773759460449219rem;
  line-height: 2.774rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 73.31rem;
  top: 16.306rem;
}
.frame-2131331158__div8 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.773759460449219rem;
  line-height: 2.774rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 79.513rem;
  top: 16.306rem;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
