.frame-2131331161,
.frame-2131331161 * {
  box-sizing: border-box;
}
.frame-2131331161 {
  height: 347.9rem;
  position: relative;
}
.frame-2131331161__rectangle-353 {
  background: #ffffff;
  width: 88.6rem;
  height: 328.8rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
}
.frame-2131331161__group-1166 {
  position: absolute;
  inset: 0;
}
.frame-2131331161__group-614 {
  width: 8.9rem;
  height: 3.8rem;
  position: absolute;
  left: 39.8rem;
  top: 15.8rem;
  overflow: visible;
}
.frame-2131331161__vector {
  width: 3.5rem;
  height: 2.6rem;
  position: absolute;
  left: 7rem;
  top: 16.3rem;
  overflow: visible;
}
.frame-2131331161__rectangle-102 {
  border-radius: 24.486rem;
  border-style: solid;
  border-color: #000000;
  border-width: 0.2rem;
  width: 16.8rem;
  height: 5.5rem;
  position: absolute;
  left: 64.935rem;
  top: 15rem;
}
.frame-2131331161__group-542 {
  width: 12.513rem;
  height: 2.8rem;
  position: static;
}
.frame-2131331161__bag {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.500930595397949rem;
  line-height: 2.5010000000000003rem;
  letter-spacing: 0.11em;
  font-weight: 500;
  position: absolute;
  left: 67.1rem;
  top: 16.5rem;
}
.frame-2131331161___3 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.773759460449219rem;
  line-height: 2.774rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 75.94rem;
  top: 16.306rem;
}
.frame-2131331161__div {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.773759460449219rem;
  line-height: 2.774rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 73.41rem;
  top: 16.306rem;
}
.frame-2131331161__div2 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.773759460449219rem;
  line-height: 2.774rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 79.613rem;
  top: 16.306rem;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.frame-2131331161__rectangle-355 {
  background: #000000;
  width: 124.3rem;
  height: 88.6rem;
  position: absolute;
  left: 0rem;
  top: 148.1rem;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.frame-2131331161__rectangle-356 {
  border-radius: 9rem 0rem 0rem 9rem;
  width: 124.3rem;
  height: 88.6rem;
  position: absolute;
  left: 0rem;
  top: 148.1rem;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
  object-fit: cover;
}
.frame-2131331161__rectangle-357 {
  background: linear-gradient(
    86.49deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 9rem 0rem 0rem 9rem;
  width: 124.3rem;
  height: 88.6rem;
  position: absolute;
  left: 0rem;
  top: 148.1rem;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.frame-2131331161__rectangle-358 {
  background: #000000;
  width: 88.6rem;
  height: 0.2rem;
  position: absolute;
  left: 0rem;
  top: 23.8rem;
}
.frame-2131331161__rectangle-359 {
  background: #ffffff;
  border-radius: 22.011000000000003rem;
  width: 76.4rem;
  height: 9.8rem;
  position: absolute;
  left: 7rem;
  top: 130.2rem;
}
.frame-2131331161__first-drop-chained {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 7.221057891845703rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 7rem;
  top: 116rem;
}
.frame-2131331161__div3 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 3.769470977783203rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 35rem;
  top: 132.6rem;
}
.frame-2131331161__rectangle-360 {
  background: #000000;
  width: 88.6rem;
  height: 199.8rem;
  position: absolute;
  left: 0rem;
  top: 148.1rem;
}
.frame-2131331161__group-1180 {
  position: absolute;
  inset: 0;
}
.frame-2131331161__group-625 {
  width: 35.126999999999995rem;
  height: 53.2rem;
  position: static;
}
.frame-2131331161__rectangle-149 {
  background: #161616;
  width: 35.126999999999995rem;
  height: 46.989999999999995rem;
  position: absolute;
  left: 7rem;
  top: 169.1rem;
}
.frame-2131331161__hoodie-chain-black {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 3.1528114318847655rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 7rem;
  top: 218rem;
}
.frame-2131331161__group-626 {
  width: 16.034rem;
  height: 5.3759999999999994rem;
  position: static;
}
.frame-2131331161__rectangle-150 {
  background: #ffffff;
  border-radius: 27.805rem;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.093rem;
  width: 16.034rem;
  height: 5.3759999999999994rem;
  position: absolute;
  left: 7rem;
  top: 224.1rem;
}
.frame-2131331161___6499 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 2.8197681427001955rem;
  letter-spacing: -0.06em;
  font-weight: 600;
  position: absolute;
  left: 10.615rem;
  top: 224.84099999999998rem;
}
.frame-2131331161__div4 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 2.8197681427001955rem;
  letter-spacing: -0.06em;
  font-weight: 600;
  position: absolute;
  left: 17.566rem;
  top: 224.84099999999998rem;
}
.frame-2131331161__group-627 {
  width: 13.438999999999998rem;
  height: 3.9rem;
  position: static;
}
.frame-2131331161___7499 {
  color: #626262;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.8197681427001955rem;
  letter-spacing: -0.06em;
  font-weight: 500;
  position: absolute;
  left: 25.444rem;
  top: 224.84099999999998rem;
}
.frame-2131331161__rub {
  color: #626262;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.8197681427001955rem;
  letter-spacing: -0.06em;
  font-weight: 500;
  position: absolute;
  left: 32.488rem;
  top: 225.86100000000002rem;
}
.frame-2131331161__vector-49 {
  width: 13.438999999999998rem;
  height: 0rem;
  position: absolute;
  left: 24.981rem;
  top: 226.788rem;
  overflow: visible;
}
.frame-2131331161__group-1181 {
  position: absolute;
  inset: 0;
}
.frame-2131331161__group-628 {
  width: 35.126999999999995rem;
  height: 53.2rem;
  position: static;
}
.frame-2131331161__rectangle-1492 {
  background: #161616;
  width: 35.126999999999995rem;
  height: 46.989999999999995rem;
  position: absolute;
  left: 48.3rem;
  top: 169.1rem;
}
.frame-2131331161__hoodie-chain-black2 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 3.1528114318847655rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 48.3rem;
  top: 218rem;
}
.frame-2131331161__group-630 {
  width: 12.344rem;
  height: 3.9rem;
  position: static;
}
.frame-2131331161___74992 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.8197681427001955rem;
  letter-spacing: -0.06em;
  font-weight: 500;
  position: absolute;
  left: 48.3rem;
  top: 224.8rem;
}
.frame-2131331161__rub2 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.8197681427001955rem;
  letter-spacing: -0.06em;
  font-weight: 500;
  position: absolute;
  left: 55.34400000000001rem;
  top: 225.82rem;
}
.frame-2131331161__div5 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 5.425244903564453rem;
  letter-spacing: -0.03em;
  font-weight: 600;
  position: absolute;
  left: 7rem;
  top: 155.1rem;
}
.frame-2131331161__ellipse-16 {
  background: #ffffff;
  border-radius: 50%;
  width: 6.7rem;
  height: 6.7rem;
  position: absolute;
  left: 76.7rem;
  top: 156.5rem;
}
.frame-2131331161__group-1182 {
  opacity: 0.5;
  height: auto;
  position: absolute;
  left: 68.3rem;
  top: 156.5rem;
  overflow: visible;
}
.frame-2131331161__vector-96 {
  width: 1.2rem;
  height: 2.4rem;
  position: absolute;
  left: 80.7rem;
  top: 161rem;
  transform: translate(-1.306rem, -2.506rem);
  overflow: visible;
}
.frame-2131331161__group-1183 {
  position: absolute;
  inset: 0;
}
.frame-2131331161__rectangle-112 {
  border-radius: 25.119rem;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.16699999999999998rem;
  width: 34.329rem;
  height: 7.452rem;
  position: absolute;
  left: 27.1rem;
  top: 236.1rem;
}
.frame-2131331161__div6 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 2.603585052490234rem;
  letter-spacing: -0.02em;
  font-weight: 600;
  position: absolute;
  left: 30.951999999999998rem;
  top: 238.026rem;
}
.frame-2131331161__group-1184 {
  position: absolute;
  inset: 0;
}
.frame-2131331161__rectangle-1122 {
  border-radius: 25.119rem;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.16699999999999998rem;
  width: 34.329rem;
  height: 7.452rem;
  position: absolute;
  left: 49.1rem;
  top: 312.1rem;
}
.frame-2131331161__div7 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 2.603585052490234rem;
  letter-spacing: -0.02em;
  font-weight: 600;
  position: absolute;
  left: 56.2rem;
  top: 314.026rem;
}
.frame-2131331161__chained-project-2025 {
  color: #ffffff;
  text-align: left;
  font-family: "ArialNarrow-Regular", sans-serif;
  font-size: 2.5090000152587892rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 32rem;
  top: 333.9rem;
}
.frame-2131331161__c-chainedproject {
  width: 76.4rem;
  height: 20.8rem;
  position: absolute;
  left: 7.005rem;
  top: 250.2rem;
  overflow: visible;
}
.frame-2131331161__rectangle-378 {
  width: 37.5rem;
  height: 41.8rem;
  position: absolute;
  left: 7rem;
  top: 277.8rem;
  object-fit: cover;
}
.frame-2131331161__rectangle-379 {
  width: 34.3rem;
  height: 30.7rem;
  position: absolute;
  left: 49.1rem;
  top: 277.8rem;
  object-fit: cover;
}
