.frame-2131330364,
.frame-2131330364 * {
  box-sizing: border-box;
}
.frame-2131330364 {
  overflow: hidden;
  height: 191.1rem;
  position: relative;
}
.frame-2131330364__group-701 {
  position: absolute;
  inset: 0;
}
.frame-2131330364__rectangle-119 {
  background: #000000;
  width: 190.5rem;
  height: 192rem;
  position: absolute;
  left: 0rem;
  top: 191.1rem;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.frame-2131330364__ellipse-2 {
  background: #000000;
  border-radius: 50%;
  width: 0.6rem;
  height: 0.649rem;
  position: absolute;
  left: 30.4rem;
  top: 8.718rem;
}
.frame-2131330364__vector {
  width: 192rem;
  height: 39.5rem;
  position: absolute;
  left: 0rem;
  top: 10.5rem;
  overflow: visible;
}
.frame-2131330364__div {
  color: #ffffff;
  text-align: center;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 8.1rem;
  line-height: 8.1rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 64.4rem;
  top: 50rem;
  width: 63.1rem;
  height: 17.5rem;
}
.frame-2131330364__rectangle-191 {
  background: #ffffff;
  border-radius: 30rem;
  width: 11.3rem;
  height: 0.4rem;
  position: absolute;
  left: 90.3rem;
  top: 69rem;
}
.frame-2131330364__rectangle-193 {
  background: #161616;
  border-radius: 3.399rem;
  width: 86.408rem;
  height: 53.585rem;
  position: absolute;
  left: 96.692rem;
  top: 74.4rem;
}
.frame-2131330364__group-706 {
  position: absolute;
  inset: 0;
}
.frame-2131330364__rectangle-192 {
  background: #161616;
  border-radius: 3.399rem;
  width: 86.408rem;
  height: 53.585rem;
  position: absolute;
  left: 8.9rem;
  top: 74.4rem;
}
.frame-2131330364__group-704 {
  width: 26.994rem;
  height: 46.997rem;
  position: static;
}
.frame-2131330364__group-571 {
  width: 26.994rem;
  height: 46.997rem;
  position: static;
}
.frame-2131330364__rectangle-105 {
  background: #000000;
  border-radius: 23.18rem;
  border-style: solid;
  border-color: #4f4f4f;
  border-width: 0.198rem;
  width: 26.994rem;
  height: 5.632rem;
  position: absolute;
  left: 12.493rem;
  top: 77.40299999999999rem;
}
.frame-2131330364__div2 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.625822067260742rem;
  line-height: 2.6260000000000003rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 15.697rem;
  top: 78.762rem;
  width: 22.333000000000002rem;
  height: 2.816rem;
}
.frame-2131330364__telegram {
  color: #727272;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.625822067260742rem;
  line-height: 2.6260000000000003rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 12.493rem;
  top: 121.487rem;
  width: 13.594rem;
  height: 2.913rem;
}
.frame-2131330364__group-707 {
  position: absolute;
  inset: 0;
}
.frame-2131330364__rectangle-1922 {
  background: #161616;
  border-radius: 3.435rem;
  width: 57.215999999999994rem;
  height: 54.174rem;
  position: absolute;
  left: 8.9rem;
  top: 129.454rem;
}
.frame-2131330364__group-7042 {
  width: 24.143rem;
  height: 47.492000000000004rem;
  position: static;
}
.frame-2131330364__group-5712 {
  width: 24.143rem;
  height: 47.492000000000004rem;
  position: static;
}
.frame-2131330364__rectangle-1052 {
  background: #000000;
  border-radius: 23.428rem;
  border-style: solid;
  border-color: #4f4f4f;
  border-width: 0.2rem;
  width: 24.143rem;
  height: 5.692rem;
  position: absolute;
  left: 12.531rem;
  top: 132.496rem;
}
.frame-2131330364__div3 {
  color: #ffffff;
  text-align: center;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.65392951965332rem;
  line-height: 2.654rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 13.315999999999999rem;
  top: 133.87rem;
  width: 22.572rem;
  height: 2.846rem;
}
.frame-2131330364__telegram2 {
  color: #727272;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.65392951965332rem;
  line-height: 2.654rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 12.531rem;
  top: 177.044rem;
  width: 13.74rem;
  height: 2.944rem;
}
.frame-2131330364__group-708 {
  position: absolute;
  inset: 0;
}
.frame-2131330364__rectangle-1923 {
  background: #161616;
  border-radius: 3.435rem;
  width: 57.215999999999994rem;
  height: 54.174rem;
  position: absolute;
  left: 67.392rem;
  top: 129.454rem;
}
.frame-2131330364__group-7043 {
  width: 28.181rem;
  height: 47.529rem;
  position: static;
}
.frame-2131330364__group-5713 {
  width: 28.181rem;
  height: 47.529rem;
  position: static;
}
.frame-2131330364__rectangle-1053 {
  background: #000000;
  border-radius: 23.428rem;
  border-style: solid;
  border-color: #4f4f4f;
  border-width: 0.2rem;
  width: 28.159rem;
  height: 5.729rem;
  position: absolute;
  left: 71.045rem;
  top: 132.459rem;
}
.frame-2131330364__div4 {
  color: #ffffff;
  text-align: center;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.65392951965332rem;
  line-height: 2.654rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 72.599rem;
  top: 133.916rem;
  width: 24.858rem;
  height: 2.816rem;
}
.frame-2131330364__vk {
  color: #727272;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.65392951965332rem;
  line-height: 2.654rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 71.024rem;
  top: 177.044rem;
  width: 13.74rem;
  height: 2.944rem;
}
.frame-2131330364__group-709 {
  position: absolute;
  inset: 0;
}
.frame-2131330364__rectangle-1924 {
  background: #161616;
  border-radius: 3.435rem;
  width: 57.215999999999994rem;
  height: 54.174rem;
  position: absolute;
  left: 125.88399999999999rem;
  top: 129.454rem;
}
.frame-2131330364__group-7044 {
  width: 26.023000000000003rem;
  height: 47.483rem;
  position: static;
}
.frame-2131330364__group-5714 {
  width: 26.023000000000003rem;
  height: 47.483rem;
  position: static;
}
.frame-2131330364__rectangle-1054 {
  background: #000000;
  border-radius: 23.428rem;
  border-style: solid;
  border-color: #4f4f4f;
  border-width: 0.2rem;
  width: 26.023000000000003rem;
  height: 5.729rem;
  position: absolute;
  left: 129.5rem;
  top: 132.459rem;
}
.frame-2131330364__div5 {
  color: #ffffff;
  text-align: center;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.65392951965332rem;
  line-height: 2.654rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 131.151rem;
  top: 133.916rem;
  width: 22.572rem;
  height: 2.846rem;
}
.frame-2131330364__div6 {
  color: #727272;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.65392951965332rem;
  line-height: 2.654rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 129.5rem;
  top: 177.029rem;
  width: 25.343rem;
  height: 2.913rem;
}
.frame-2131330364__group-705 {
  position: absolute;
  inset: 0;
}
.frame-2131330364__group-5715 {
  width: 21.265rem;
  height: 46.997rem;
  position: static;
}
.frame-2131330364__rectangle-1055 {
  background: #000000;
  border-radius: 23.18rem;
  border-style: solid;
  border-color: #4f4f4f;
  border-width: 0.198rem;
  width: 21.265rem;
  height: 5.632rem;
  position: absolute;
  left: 100.078rem;
  top: 77.40299999999999rem;
}
.frame-2131330364__div7 {
  color: #ffffff;
  text-align: center;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.625822067260742rem;
  line-height: 2.6260000000000003rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 101.535rem;
  top: 78.762rem;
  width: 18.061rem;
  height: 2.816rem;
}
.frame-2131330364__instagram {
  color: #727272;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.625822067260742rem;
  line-height: 2.6260000000000003rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 100.078rem;
  top: 121.487rem;
  width: 17.964rem;
  height: 2.913rem;
}
.frame-2131330364__meta {
  color: #727272;
  text-align: right;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.625822067260742rem;
  line-height: 2.6260000000000003rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 134.743rem;
  top: 118.86500000000001rem;
  width: 44.763999999999996rem;
}
.frame-2131330364__vector2 {
  width: 13.012rem;
  height: 14.953999999999999rem;
  position: absolute;
  left: 31.038999999999998rem;
  top: 149.06300000000002rem;
  overflow: visible;
}
.frame-2131330364__vector3 {
  width: 13.886000000000001rem;
  height: 10.293000000000001rem;
  position: absolute;
  left: 147.464rem;
  top: 151.394rem;
  overflow: visible;
}
.frame-2131330364__logo-1 {
  width: 23.304rem;
  height: 23.304rem;
  position: absolute;
  left: 128.238rem;
  top: 89.53999999999999rem;
  object-fit: cover;
  aspect-ratio: 1;
}
.frame-2131330364__vector4 {
  width: 8.6%;
  height: 7.11%;
  position: absolute;
  right: 68.56%;
  left: 22.84%;
  bottom: 43.49%;
  top: 49.4%;
  overflow: visible;
}
.frame-2131330364__clip-path-group {
  height: auto;
  position: absolute;
  left: 91.825rem;
  top: 151.977rem;
  overflow: visible;
}
.frame-2131330364__ellipse-34 {
  background: #ffffff;
  border-radius: 50%;
  width: 16.506999999999998rem;
  height: 16.506999999999998rem;
  position: absolute;
  left: 87.84299999999999rem;
  top: 148.28699999999998rem;
}
.frame-2131330364__vector5 {
  width: 3.89%;
  height: 2.44%;
  position: absolute;
  right: 48.03%;
  left: 48.08%;
  bottom: 16.71%;
  top: 80.85%;
  overflow: visible;
}
.frame-2131330364__group-840 {
  position: absolute;
  inset: 0;
}
.frame-2131330364__rectangle-104 {
  background: #ffffff;
  width: 192rem;
  height: 9.9rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
}
.frame-2131330364__vector6 {
  border-radius: 0rem;
  width: 8.2rem;
  height: 3.5rem;
  position: absolute;
  left: 91.9rem;
  top: 3.2rem;
  overflow: visible;
}
.frame-2131330364__div8 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.8814889907836914rem;
  letter-spacing: 0.01em;
  font-weight: 500;
  position: absolute;
  left: 8.9rem;
  top: 3.5rem;
}
.frame-2131330364__div9 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.8814889907836914rem;
  letter-spacing: 0.01em;
  font-weight: 500;
  position: absolute;
  left: 34.4rem;
  top: 3.5rem;
}
.frame-2131330364__div10 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.8814889907836914rem;
  letter-spacing: 0.01em;
  font-weight: 500;
  position: absolute;
  left: 20.152rem;
  top: 3.5rem;
}
.frame-2131330364__ellipse-22 {
  background: #000000;
  border-radius: 50%;
  width: 0.453rem;
  height: 0.453rem;
  position: absolute;
  left: 38.5rem;
  top: 6.973999999999999rem;
}
.frame-2131330364__group-602 {
  width: 13.635rem;
  height: 3.8rem;
  position: static;
}
.frame-2131330364__group-541 {
  width: 13.635rem;
  height: 3.8rem;
  position: static;
}
.frame-2131330364___3 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.9164155960083007rem;
  line-height: 1.916rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 179.131rem;
  top: 3.8020000000000005rem;
}
.frame-2131330364__group-698 {
  width: 13.635rem;
  height: 3.8rem;
  position: static;
}
.frame-2131330364__rectangle-101 {
  border-radius: 16.918rem;
  border-style: solid;
  border-color: #000000;
  border-width: 0.149rem;
  width: 13.635rem;
  height: 3.8rem;
  position: absolute;
  left: 169.5rem;
  top: 2.9rem;
}
.frame-2131330364__bag {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.9164155960083007rem;
  line-height: 1.916rem;
  letter-spacing: 0.11em;
  font-weight: 500;
  position: absolute;
  left: 171.81rem;
  top: 3.8020000000000005rem;
}
.frame-2131330364__div11 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.9164155960083007rem;
  line-height: 1.916rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 177.38299999999998rem;
  top: 3.8020000000000005rem;
}
.frame-2131330364__div12 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1.9164155960083007rem;
  line-height: 1.916rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 181.669rem;
  top: 3.8020000000000005rem;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
