.frame-2131331152,
.frame-2131331152 * {
  box-sizing: border-box;
}
.frame-2131331152 {
  height: 108.9rem;
  position: relative;
}
.frame-2131331152__group-690 {
  position: absolute;
  inset: 0;
}
.frame-2131331152__rectangle-119 {
  background: #000000;
  width: 108.9rem;
  height: 192rem;
  position: absolute;
  left: 0rem;
  top: 108.9rem;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.frame-2131331152__ellipse-2 {
  background: #000000;
  border-radius: 50%;
  width: 0.6rem;
  height: 0.645rem;
  position: absolute;
  left: 30.4rem;
  top: 8.065999999999999rem;
}
.frame-2131331152__group-694 {
  position: absolute;
  inset: 0;
}
.frame-2131331152__rectangle-104 {
  background: #ffffff;
  width: 192rem;
  height: 9.9rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
}
.frame-2131331152__vector {
  border-radius: 0rem;
  width: 8.2rem;
  height: 3.5rem;
  position: absolute;
  left: 91.9rem;
  top: 3.2rem;
  overflow: visible;
}
.frame-2131331152__div {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.491561698913574rem;
  letter-spacing: 0.01em;
  font-weight: 500;
  text-decoration: underline;
  position: absolute;
  left: 6.1rem;
  top: 2.9rem;
}
.frame-2131331152__group-602 {
  width: 18.3rem;
  height: 5.1rem;
  position: static;
}
.frame-2131331152__rectangle-101 {
  border-radius: 22.705000000000002rem;
  border-style: solid;
  border-color: #000000;
  border-width: 0.2rem;
  width: 18.3rem;
  height: 5.1rem;
  position: absolute;
  left: 167.3rem;
  top: 2.4rem;
}
.frame-2131331152__group-541 {
  width: 13.232rem;
  height: 2.6rem;
  position: static;
}
.frame-2131331152__bag {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.572031593322754rem;
  line-height: 2.572rem;
  letter-spacing: 0.11em;
  font-weight: 500;
  position: absolute;
  left: 170.4rem;
  top: 3.6109999999999998rem;
}
.frame-2131331152___3 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.572031593322754rem;
  line-height: 2.572rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 180.226rem;
  top: 3.6109999999999998rem;
}
.frame-2131331152__div2 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.572031593322754rem;
  line-height: 2.572rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 177.88rem;
  top: 3.6109999999999998rem;
}
.frame-2131331152__div3 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.572031593322754rem;
  line-height: 2.572rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 183.632rem;
  top: 3.6109999999999998rem;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.frame-2131331152__telegram-chained-support-info-chainedproject-ru-7165056908820 {
  color: #ffffff;
  text-align: left;
  position: absolute;
  left: 6.1rem;
  top: 16.3rem;
  width: 105.2rem;
  height: 41.525999999999996rem;
}
.telegram-chained-support-info-chainedproject-ru-7165056908820-span {
  font-family: "Manrope-Medium", sans-serif;
  font-size: 37.78133010864258px;
  letter-spacing: -0.02em;
  font-weight: 500;
}
.telegram-chained-support-info-chainedproject-ru-7165056908820-span2 {
  font-family: "Manrope-Medium", sans-serif;
  font-size: 26.534252166748047px;
  letter-spacing: -0.02em;
  font-weight: 500;
}
.telegram-chained-support-info-chainedproject-ru-7165056908820-span3 {
  font-family: "Manrope-Medium", sans-serif;
  font-size: 26.534252166748047px;
  letter-spacing: -0.02em;
  font-weight: 500;
  text-decoration: underline;
}
.frame-2131331152__rectangle-349 {
  border-radius: 27.5rem;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.2rem;
  width: 60.4rem;
  height: 9.4rem;
  position: absolute;
  left: 6.1rem;
  top: 62.2rem;
}
.frame-2131331152__tg {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.6534252166748047rem;
  letter-spacing: -0.02em;
  font-weight: 500;
  position: absolute;
  left: 24.9rem;
  top: 65.1rem;
}
