.frame-2131331154,
.frame-2131331154 * {
  box-sizing: border-box;
}
.frame-2131331154 {
  height: 397rem;
  position: relative;
}
.frame-2131331154__group-1170 {
  position: absolute;
  inset: 0;
}
.frame-2131331154__rectangle-119 {
  background: #000000;
  width: 397rem;
  height: 192rem;
  position: absolute;
  left: 0rem;
  top: 397rem;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.frame-2131331154__ellipse-2 {
  background: #000000;
  border-radius: 50%;
  width: 0.6rem;
  height: 0.717rem;
  position: absolute;
  left: 30.4rem;
  top: 8.959999999999999rem;
}
.frame-2131331154__group-1171 {
  position: absolute;
  inset: 0;
}
.frame-2131331154__rectangle-104 {
  background: #ffffff;
  width: 192rem;
  height: 9.9rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
}
.frame-2131331154__vector {
  border-radius: 0rem;
  width: 8.2rem;
  height: 3.5rem;
  position: absolute;
  left: 91.9rem;
  top: 3.2rem;
  overflow: visible;
}
.frame-2131331154__div {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.491561698913574rem;
  letter-spacing: 0.01em;
  font-weight: 500;
  text-decoration: underline;
  position: absolute;
  left: 6.1rem;
  top: 2.9rem;
}
.frame-2131331154__group-602 {
  width: 18.3rem;
  height: 5.1rem;
  position: static;
}
.frame-2131331154__rectangle-101 {
  border-radius: 22.705000000000002rem;
  border-style: solid;
  border-color: #000000;
  border-width: 0.2rem;
  width: 18.3rem;
  height: 5.1rem;
  position: absolute;
  left: 167.3rem;
  top: 2.4rem;
}
.frame-2131331154__group-541 {
  width: 13.232rem;
  height: 2.6rem;
  position: static;
}
.frame-2131331154__bag {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.572031593322754rem;
  line-height: 2.572rem;
  letter-spacing: 0.11em;
  font-weight: 500;
  position: absolute;
  left: 170.4rem;
  top: 3.6109999999999998rem;
}
.frame-2131331154___3 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.572031593322754rem;
  line-height: 2.572rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 180.226rem;
  top: 3.6109999999999998rem;
}
.frame-2131331154__div2 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.572031593322754rem;
  line-height: 2.572rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 177.88rem;
  top: 3.6109999999999998rem;
}
.frame-2131331154__div3 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.572031593322754rem;
  line-height: 2.572rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 183.632rem;
  top: 3.6109999999999998rem;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.frame-2131331154__https-chainedproject-ru-27-07-2006-152-7165056908820-1-1-1-1-2-1-3-2-cookie-3-4-ip-cookie-6-9-152-5-support-chainedproject-ru-6-cookie-cookie-cookie-cookie-7-7-1-7-2-7-3-ssl-7-4-in-sales-7714843760-8-152-9-10-10-1-10-2-support-chainedproject-ru-10-3 {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 2.729966926574707rem;
  line-height: 2.8rem;
  letter-spacing: 0.01em;
  font-weight: 400;
  position: absolute;
  left: 46.7rem;
  top: 15.5rem;
  width: 136.2rem;
}
.https-chainedproject-ru-27-07-2006-152-7165056908820-1-1-1-1-2-1-3-2-cookie-3-4-ip-cookie-6-9-152-5-support-chainedproject-ru-6-cookie-cookie-cookie-cookie-7-7-1-7-2-7-3-ssl-7-4-in-sales-7714843760-8-152-9-10-10-1-10-2-support-chainedproject-ru-10-3-span {
  font-family: "Manrope-SemiBold", sans-serif;
  font-weight: 600;
}
.https-chainedproject-ru-27-07-2006-152-7165056908820-1-1-1-1-2-1-3-2-cookie-3-4-ip-cookie-6-9-152-5-support-chainedproject-ru-6-cookie-cookie-cookie-cookie-7-7-1-7-2-7-3-ssl-7-4-in-sales-7714843760-8-152-9-10-10-1-10-2-support-chainedproject-ru-10-3-span2 {
  font-family: "Manrope-Regular", sans-serif;
}
.https-chainedproject-ru-27-07-2006-152-7165056908820-1-1-1-1-2-1-3-2-cookie-3-4-ip-cookie-6-9-152-5-support-chainedproject-ru-6-cookie-cookie-cookie-cookie-7-7-1-7-2-7-3-ssl-7-4-in-sales-7714843760-8-152-9-10-10-1-10-2-support-chainedproject-ru-10-3-span3 {
  font-family: "Manrope-Regular", sans-serif;
  text-decoration: underline;
}
.https-chainedproject-ru-27-07-2006-152-7165056908820-1-1-1-1-2-1-3-2-cookie-3-4-ip-cookie-6-9-152-5-support-chainedproject-ru-6-cookie-cookie-cookie-cookie-7-7-1-7-2-7-3-ssl-7-4-in-sales-7714843760-8-152-9-10-10-1-10-2-support-chainedproject-ru-10-3-span4 {
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Manrope-Regular", sans-serif;
}
.frame-2131331154__div4 {
  color: #555555;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.5rem;
  line-height: 2.8rem;
  letter-spacing: 0.01em;
  font-weight: 500;
  position: absolute;
  left: 6.1rem;
  top: 25.9rem;
  width: 34.7rem;
}
.frame-2131331154__div5 {
  color: #555555;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.5rem;
  line-height: 2.8rem;
  letter-spacing: 0.01em;
  font-weight: 500;
  position: absolute;
  left: 6.1rem;
  top: 36.4rem;
  width: 28rem;
}
.frame-2131331154__div6 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 2.5rem;
  line-height: 2.8rem;
  letter-spacing: 0.01em;
  font-weight: 600;
  position: absolute;
  left: 6.1rem;
  top: 15.5rem;
}

@media (max-width: 900px) {
  .frame-2131331154 {
    min-height: 100vh;
    height: auto;
    padding-bottom: 8rem;
    background: #000000;
    overflow-x: hidden;
  }

  .frame-2131331154__rectangle-119 {
    display: none;
  }

  .frame-2131331154__rectangle-104 {
    width: 100%;
  }

  .frame-2131331154__vector {
    left: 50%;
    transform: translateX(-50%);
  }

  .frame-2131331154__div {
    left: 3rem;
    font-size: 3rem;
  }

  .frame-2131331154__rectangle-101 {
    left: auto;
    right: 3rem;
  }

  .frame-2131331154__bag {
    left: auto;
    right: 9.2rem;
  }

  .frame-2131331154___3 {
    left: auto;
    right: 4.6rem;
  }

  .frame-2131331154__div2 {
    left: auto;
    right: 6.2rem;
  }

  .frame-2131331154__div3 {
    left: auto;
    right: 3.2rem;
  }

  .frame-2131331154__https-chainedproject-ru-27-07-2006-152-7165056908820-1-1-1-1-2-1-3-2-cookie-3-4-ip-cookie-6-9-152-5-support-chainedproject-ru-6-cookie-cookie-cookie-cookie-7-7-1-7-2-7-3-ssl-7-4-in-sales-7714843760-8-152-9-10-10-1-10-2-support-chainedproject-ru-10-3 {
    left: 3rem;
    top: 14rem;
    width: calc(100% - 6rem);
    font-size: 3rem;
    line-height: 4.4rem;
  }

  .frame-2131331154__div4,
  .frame-2131331154__div5,
  .frame-2131331154__div6 {
    display: none;
  }
}
