.frame-2131331159,
.frame-2131331159 * {
  box-sizing: border-box;
}
.frame-2131331159 {
  height: 228.8rem;
  position: relative;
}
.frame-2131331159__rectangle-369 {
  background: #ffffff;
  width: 88.6rem;
  height: 12.4rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
}
.frame-2131331159__rectangle-370 {
  background: #000000;
  width: 88.6rem;
  height: 216.4rem;
  position: absolute;
  left: 0rem;
  top: 12.4rem;
}
.frame-2131331159__group-1191 {
  position: absolute;
  inset: 0;
}
.frame-2131331159__vector {
  width: 4.2rem;
  height: 3.1rem;
  position: absolute;
  left: 6.2rem;
  top: 5.8rem;
  overflow: visible;
}
.frame-2131331159__rectangle-102 {
  border-radius: 24.486rem;
  border-style: solid;
  border-color: #000000;
  border-width: 0.2rem;
  width: 16.8rem;
  height: 5.5rem;
  position: absolute;
  left: 65.5rem;
  top: 4.4rem;
}
.frame-2131331159__group-542 {
  width: 42.678rem;
  height: 3.2rem;
  position: static;
}
.frame-2131331159__bag {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.500930595397949rem;
  line-height: 2.5010000000000003rem;
  letter-spacing: 0.11em;
  font-weight: 500;
  position: absolute;
  left: 67.865rem;
  top: 5.9rem;
}
.frame-2131331159__return {
  color: #000000;
  text-align: left;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 3.119972801208496rem;
  line-height: 3.12rem;
  letter-spacing: 0.02em;
  font-weight: 600;
  text-decoration: underline;
  position: absolute;
  left: 38rem;
  top: 5.7rem;
}
.frame-2131331159___3 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.773759460449219rem;
  line-height: 2.774rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 76.765rem;
  top: 5.7rem;
}
.frame-2131331159__div {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.773759460449219rem;
  line-height: 2.774rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 74.475rem;
  top: 5.706rem;
}
.frame-2131331159__div2 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.773759460449219rem;
  line-height: 2.774rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 80.678rem;
  top: 5.706rem;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.frame-2131331159__rectangle-371 {
  background: #000000;
  width: 88.6rem;
  height: 0.2rem;
  position: absolute;
  left: 0rem;
  top: 12.2rem;
}
.frame-2131331159__rectangle-372 {
  border-radius: 0rem 0rem 9rem 9rem;
  width: 88.6rem;
  height: 88.6rem;
  position: absolute;
  left: 0rem;
  top: 12.4rem;
  object-fit: cover;
}
.frame-2131331159__hoodie-chained-black {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 5.149984741210938rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 6.2rem;
  top: 107.50699999999999rem;
}
.frame-2131331159___6500 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 5.150024032592773rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 6.2rem;
  top: 114.99300000000001rem;
}
.frame-2131331159__rub {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 5.150024032592773rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 20.808rem;
  top: 114.99300000000001rem;
}
.frame-2131331159__group-1192 {
  position: absolute;
  inset: 0;
}
.frame-2131331159__rectangle-105 {
  background: #161616;
  border-radius: 28.579rem;
  width: 75.8rem;
  height: 7rem;
  position: absolute;
  left: 6.2rem;
  top: 127.3rem;
}
.frame-2131331159__rectangle-1052 {
  background: #000000;
  border-radius: 28.579rem;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.126rem;
  width: 15.3rem;
  height: 7rem;
  position: absolute;
  left: 27.6rem;
  top: 127.3rem;
}
.frame-2131331159__s {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 3.237405014038086rem;
  line-height: 3.2369999999999997rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  opacity: 0.4;
  position: absolute;
  left: 17.7rem;
  top: 129.1rem;
  width: 2.1399999999999997rem;
  height: 3.524rem;
}
.frame-2131331159__m {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 3.237405014038086rem;
  line-height: 3.2369999999999997rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 33.9rem;
  top: 129.1rem;
  width: 2.769rem;
  height: 3.524rem;
}
.frame-2131331159__l {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 3.237405014038086rem;
  line-height: 3.2369999999999997rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  opacity: 0.4;
  position: absolute;
  left: 50.8rem;
  top: 129rem;
  width: 2.0140000000000002rem;
  height: 3.524rem;
}
.frame-2131331159__xl {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 3.237405014038086rem;
  line-height: 3.2369999999999997rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  opacity: 0.4;
  position: absolute;
  left: 66.9rem;
  top: 129.1rem;
  width: 4.0280000000000005rem;
  height: 3.524rem;
}
.frame-2131331159__group-1193 {
  position: absolute;
  inset: 0;
}
.frame-2131331159__rectangle-112 {
  border-radius: 28.969rem;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.193rem;
  width: 39.591rem;
  height: 8.594rem;
  position: absolute;
  left: 6.2rem;
  top: 140.8rem;
}
.frame-2131331159__div3 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 3.0026458740234374rem;
  letter-spacing: -0.02em;
  font-weight: 600;
  position: absolute;
  left: 19.000999999999998rem;
  top: 143.02100000000002rem;
}
.frame-2131331159__size-guide {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 3.0026458740234374rem;
  letter-spacing: -0.02em;
  font-weight: 600;
  text-decoration: underline;
  position: absolute;
  left: 56.9rem;
  top: 143.02100000000002rem;
}
.frame-2131331159__group-1194 {
  position: absolute;
  inset: 0;
}
.frame-2131331159__ellipse-31 {
  background: #000000;
  border-radius: 50%;
  width: 1.374rem;
  height: 1.374rem;
  position: absolute;
  left: 39.4rem;
  top: 95.3rem;
}
.frame-2131331159__ellipse-32 {
  background: #9c9c9c;
  border-radius: 50%;
  width: 1.374rem;
  height: 1.374rem;
  position: absolute;
  left: 43.613rem;
  top: 95.3rem;
}
.frame-2131331159__ellipse-33 {
  background: #9c9c9c;
  border-radius: 50%;
  width: 1.374rem;
  height: 1.374rem;
  position: absolute;
  left: 47.826rem;
  top: 95.3rem;
}
.frame-2131331159__group-1195 {
  position: absolute;
  inset: 0;
}
.frame-2131331159__div4 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 3rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 8.6rem;
  top: 159.5rem;
}
.frame-2131331159___100-ngg-04 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 3rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 4.1rem;
  top: 165.9rem;
}
.frame-2131331159__vector-35 {
  width: 75.8rem;
  height: 0rem;
  position: absolute;
  left: 6.2rem;
  top: 193.2rem;
  overflow: visible;
}
.frame-2131331159__vector-39 {
  width: 75.8rem;
  height: 0rem;
  position: absolute;
  left: 6.2rem;
  top: 156.9rem;
  overflow: visible;
}
.frame-2131331159__div5 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 3rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 8.6rem;
  top: 196.2rem;
}
.frame-2131331159__vector-38 {
  width: 75.8rem;
  height: 0rem;
  position: absolute;
  left: 6.2rem;
  top: 203.6rem;
  overflow: visible;
}
.frame-2131331159__vector-59 {
  border-radius: 0rem;
  width: 1.533rem;
  height: 1.4rem;
  position: absolute;
  left: 78.75rem;
  top: 162.2rem;
  overflow: visible;
}
.frame-2131331159__vector-61 {
  border-radius: 0rem;
  width: 1.8rem;
  height: 1.4rem;
  position: absolute;
  left: 78rem;
  top: 198.9rem;
  overflow: visible;
}
.frame-2131331159__chained-project-2025 {
  color: #ffffff;
  text-align: left;
  font-family: "ArialNarrow-Regular", sans-serif;
  font-size: 2.5090000152587892rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 32rem;
  top: 214.8rem;
}
