.frame-2131331162,
.frame-2131331162 * {
  box-sizing: border-box;
}
.frame-2131331162 {
  height: 197.5rem;
  position: relative;
}
.frame-2131331162__rectangle-381 {
  background: #ffffff;
  width: 88.6rem;
  height: 197.5rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
}
.frame-2131331162__rectangle-382 {
  background: #000000;
  width: 88.6rem;
  height: 173.7rem;
  position: absolute;
  left: 0rem;
  top: 23.8rem;
}
.frame-2131331162__rectangle-383 {
  background: #000000;
  width: 88.6rem;
  height: 0.2rem;
  position: absolute;
  left: 0rem;
  top: 23.8rem;
}
.frame-2131331162__chained-project-2025 {
  color: #ffffff;
  text-align: left;
  font-family: "ArialNarrow-Regular", sans-serif;
  font-size: 2.5085325241088867rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 32rem;
  top: 179.1rem;
}
.frame-2131331162__div {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 5.033158874511718rem;
  line-height: 5.0329999999999995rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 6.2rem;
  top: 42.9rem;
  width: 39.338rem;
  height: 5.1530000000000005rem;
}
.frame-2131331162__group-1204 {
  position: absolute;
  inset: 0;
}
.frame-2131331162__group-851 {
  width: 76.1rem;
  height: 27.8rem;
  position: static;
}
.frame-2131331162__rectangle-193 {
  border-radius: 4rem;
  border-style: solid;
  border-color: #0f0f0f;
  border-width: 0.2rem;
  width: 76.1rem;
  height: 27.8rem;
  position: absolute;
  left: 6.2rem;
  top: 53.4rem;
}
.frame-2131331162__group-705 {
  width: 44rem;
  height: 20.828rem;
  position: static;
}
.frame-2131331162__group-571 {
  width: 44rem;
  height: 20.828rem;
  position: static;
}
.frame-2131331162__hoodie-og-s {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 3.2rem;
  line-height: 3.91rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 35rem;
  top: 57.55rem;
  width: 28.849rem;
  height: 4.193rem;
}
.frame-2131331162___8900-rub {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 3.2rem;
  line-height: 3.2909999999999995rem;
  font-weight: 400;
  opacity: 0.3;
  position: absolute;
  left: 35rem;
  top: 63.55rem;
  width: 32.339rem;
  height: 4.7rem;
}
.frame-2131331162___17600-rub {
  color: #ffffff;
  text-align: right;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 3.2rem;
  line-height: 2.586rem;
  font-weight: 400;
  position: absolute;
  left: 57rem;
  top: 75.6rem;
  width: 22rem;
  height: 2.778rem;
}
.frame-2131331162__group-855 {
  width: 49.4rem;
  height: 25rem;
  position: static;
}
.frame-2131331162__rectangle-248 {
  background: #0f0f0f;
  border-radius: 24.2rem;
  border-style: solid;
  border-color: #000000;
  border-width: 0.1rem;
  width: 22rem;
  height: 5.5rem;
  position: absolute;
  left: 35rem;
  top: 74.25rem;
}
.frame-2131331162__rectangle-249 {
  background: #0f0f0f;
  border-radius: 4rem;
  width: 25rem;
  height: 25rem;
  position: absolute;
  left: 7.6rem;
  top: 54.75rem;
}
.frame-2131331162__div2 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 2.577690315246582rem;
  line-height: 3.002rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  opacity: 0.4;
  position: absolute;
  left: 37rem;
  top: 75.45rem;
}
.frame-2131331162___2 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 2.577690315246582rem;
  line-height: 3.002rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 45.4rem;
  top: 75.45rem;
}
.frame-2131331162__div3 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 2.577690315246582rem;
  line-height: 3.002rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  opacity: 0.4;
  position: absolute;
  left: 53.414rem;
  top: 75.45rem;
}
.frame-2131331162__vector {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 76.6rem;
  top: 57.55rem;
  overflow: visible;
}
.frame-2131331162__group-1205 {
  position: absolute;
  inset: 0;
}
.frame-2131331162__rectangle-1932 {
  border-radius: 4rem;
  border-style: solid;
  border-color: #0f0f0f;
  border-width: 0.2rem;
  width: 76.1rem;
  height: 27.8rem;
  position: absolute;
  left: 6.2rem;
  top: 83.45rem;
}
.frame-2131331162__hoodie-og-m {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 3.2rem;
  line-height: 3.91rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 35rem;
  top: 87.65rem;
  width: 28.849rem;
  height: 4.193rem;
}
.frame-2131331162___8900-rub2 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 3.2rem;
  line-height: 3.2909999999999995rem;
  font-weight: 400;
  opacity: 0.4;
  position: absolute;
  left: 35rem;
  top: 93.65rem;
  width: 32.339rem;
  height: 4.7rem;
}
.frame-2131331162___8900-rub3 {
  color: #ffffff;
  text-align: right;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 3.2rem;
  line-height: 2.586rem;
  font-weight: 400;
  position: absolute;
  left: 57rem;
  top: 105.7rem;
  width: 22rem;
  height: 2.778rem;
}
.frame-2131331162__rectangle-2482 {
  background: #0f0f0f;
  border-radius: 24.2rem;
  border-style: solid;
  border-color: #000000;
  border-width: 0.1rem;
  width: 22rem;
  height: 5.5rem;
  position: absolute;
  left: 35rem;
  top: 104.35rem;
}
.frame-2131331162__rectangle-2492 {
  background: #0f0f0f;
  border-radius: 4rem;
  width: 25rem;
  height: 25rem;
  position: absolute;
  left: 7.6rem;
  top: 84.85rem;
}
.frame-2131331162__div4 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 2.577690315246582rem;
  line-height: 3.002rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  opacity: 0.4;
  position: absolute;
  left: 37rem;
  top: 105.55rem;
}
.frame-2131331162___1 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 2.577690315246582rem;
  line-height: 3.002rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 45.4rem;
  top: 105.55rem;
}
.frame-2131331162__div5 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 2.577690315246582rem;
  line-height: 3.002rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  opacity: 0.4;
  position: absolute;
  left: 53.414rem;
  top: 105.55rem;
}
.frame-2131331162__vector2 {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 76.6rem;
  top: 87.65rem;
  overflow: visible;
}
.frame-2131331162__group-1206 {
  position: absolute;
  inset: 0;
}
.frame-2131331162__div6 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Light", sans-serif;
  font-size: 2.6317758560180664rem;
  letter-spacing: 0.03em;
  font-weight: 300;
  position: absolute;
  left: 9.579rem;
  top: 31.8rem;
}
.frame-2131331162__vector-88 {
  width: 2.071rem;
  height: 1.417rem;
  position: absolute;
  left: 6.2rem;
  top: 32.89rem;
  overflow: visible;
}
.frame-2131331162__group-1207 {
  position: absolute;
  inset: 0;
}
.frame-2131331162__group-614 {
  width: 8.9rem;
  height: 3.8rem;
  position: absolute;
  left: 39.7rem;
  top: 16.8rem;
  overflow: visible;
}
.frame-2131331162__vector3 {
  width: 3.5rem;
  height: 2.6rem;
  position: absolute;
  left: 6.9rem;
  top: 17.3rem;
  overflow: visible;
}
.frame-2131331162__rectangle-102 {
  border-radius: 24.486rem;
  border-style: solid;
  border-color: #000000;
  border-width: 0.2rem;
  width: 16.8rem;
  height: 5.5rem;
  position: absolute;
  left: 64.83500000000001rem;
  top: 16rem;
}
.frame-2131331162__group-542 {
  width: 12.513rem;
  height: 2.8rem;
  position: static;
}
.frame-2131331162__bag {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.500930595397949rem;
  line-height: 2.5010000000000003rem;
  letter-spacing: 0.11em;
  font-weight: 500;
  position: absolute;
  left: 67rem;
  top: 17.5rem;
}
.frame-2131331162___3 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.773759460449219rem;
  line-height: 2.774rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 75.84rem;
  top: 17.306rem;
}
.frame-2131331162__div7 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.773759460449219rem;
  line-height: 2.774rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 73.31rem;
  top: 17.306rem;
}
.frame-2131331162__div8 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 2.773759460449219rem;
  line-height: 2.774rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 79.513rem;
  top: 17.306rem;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.frame-2131331162__rectangle-384 {
  background: #0f0f0f;
  border-radius: 4rem;
  width: 76.1rem;
  height: 21.464rem;
  position: absolute;
  left: 6.2rem;
  top: 138.706rem;
}
.frame-2131331162__rectangle-385 {
  background: #0f0f0f;
  border-radius: 4rem;
  width: 76.1rem;
  height: 21.464rem;
  position: absolute;
  left: 6.2rem;
  top: 115.75rem;
}
.frame-2131331162__group-1208 {
  position: absolute;
  inset: 0;
}
.frame-2131331162__rectangle-106 {
  background: #000000;
  border-radius: 29.499000000000002rem;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.2rem;
  width: 72.771rem;
  height: 8.953rem;
  position: absolute;
  left: 7.922rem;
  top: 149.26600000000002rem;
}
.frame-2131331162__div9 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 3.0485565185546877rem;
  line-height: 3.049rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 32.829rem;
  top: 152.135rem;
}
.frame-2131331162__div10 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 3.0485565185546877rem;
  line-height: 3.049rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 12.169rem;
  top: 142.494rem;
}
.frame-2131331162___5200-rub {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 3.0485565185546877rem;
  line-height: 3.049rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 63.016999999999996rem;
  top: 142.494rem;
}
.frame-2131331162__group-1209 {
  position: absolute;
  inset: 0;
}
.frame-2131331162__rectangle-107 {
  background: #000000;
  border-radius: 29.499000000000002rem;
  width: 72.771rem;
  height: 8.953rem;
  position: absolute;
  left: 7.922rem;
  top: 126.425rem;
}
.frame-2131331162__div11 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 3.0485565185546877rem;
  line-height: 3.049rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  opacity: 0.3;
  position: absolute;
  left: 12.169rem;
  top: 129.409rem;
}
.frame-2131331162__div12 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 2.2979217529296876rem;
  line-height: 3.049rem;
  letter-spacing: 0.05em;
  font-weight: 400;
  opacity: 0.4;
  position: absolute;
  left: 59.803rem;
  top: 119.76700000000001rem;
}
.frame-2131331162__div13 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 3.0485910415649413rem;
  line-height: 3.049rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 12.169rem;
  top: 119.53800000000001rem;
  width: 26.4rem;
}
